@model IEnumerable<Icarus.Models.tblAssertionCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pl-5 pr-5">
    <div class="d-flex mb-2 mt-2 justify-content-between">
        <input class="form-control col-sm-4" id="myInput" type="search" placeholder="Search" aria-label="Search">
        @if (Session["isADG"].ToString() == "Y" || Session["isAAG"].ToString() == "Y") {
            <div>
                <a class="btn" style="background-color:#4E58A2;color:white;" href="/AssertionCategories/Create">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    <span>&nbsp;Add Assertion Category</span>
                </a>
            </div>
        }
    </div>
    <hr>
    <div class="d-flex align-items-center justify-content-center">
        <table class="table table-hover table-striped table-borderless" style="width:50%;">
            <thead style="background-color: #6C7AE0; color: white;">
                <tr>
                    <th class="tableheadleft text-center category" scope="col">
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th class="tableheadright text-center action" scope="col">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody id="myTable">
                @foreach (var item in Model)
                {
                <tr>

                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    @if (Session["isADG"].ToString() == "Y" || Session["isAAG"].ToString() == "Y")
                    {
                        <td>
                            <center>
                                <a class="btn btn-sm btn-warning" href="/AssertionCategories/Edit/@item.IDAssertionCategory">Edit</a>
                                @if (Session["isADG"].ToString() == "Y")
                                {
                                <a class="btn btn-sm btn-danger" href="/AssertionCategories/Delete/@item.IDAssertionCategory">Delete</a>
                                }
                            </center>
                        </td>
                    }

                </tr>

                }
            </tbody>
        </table>
    </div>
</div>
<style>
    .tableheadleft {
        border-top-left-radius: 15px !important;
    }

    .tableheadright {
        border-top-right-radius: 15px !important;
    }
</style>
<script>
    $(document).ready(function () {
        document.title = 'Assertion Category';
        var aag = "@Session["isAAG"]";
        var edg = "@Session["isEDG"]";
        var adg = "@Session["isADG"]";
        var pg = "@Session["isPG"]";
        console.log(pg);
        if (aag != "Y" && adg != "Y") {
            $(".action").css("display", "none");
            $(".category").attr("class", "category tableheadright tableheadleft text-center");
        }
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
