@model IEnumerable<Icarus.Models.vrptAssertionSummary>


@{
    ViewBag.Title = "AssertionSummary";
}
<style>
    .holder {
        padding: 5%;
    }
</style>

<div class="holder">
    <h3>Assertion Summary</h3>
    <table>
        <thead>
            <tr>
                <th>Resident</th>
                <th>Asrt Date</th>
                <th>Post Date</th>
                <th>Description</th>
                <th>Category</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Cost</th>
                <th>Mkup %</th>
                <th>Mkup Val</th>
                <th>Billed</th>
                <th>Margin</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Resident</td>
                    <td>@item.AssertionDate</td>
                    <td>@item.PostedDate</td>
                    <td>@item.Description</td>
                    <td>@item.Category</td>
                    <td>@item.Qty</td>
                    <td>@item.Price</td>
                    <td>@item.Cost</td>
                    <td>@item.Markup</td>
                    <td>@item.MarkupValue</td>
                    <td>@item.SubTotal</td>
                    <td>@item.Margin</td>
                </tr>
            }
                <tr>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td>Total</td>
                    <td>item.Cost</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td>item.Margin</td>
                </tr>
        </tbody>
    </table>
</div>
