@model Icarus.Models.tblInquiryCommLog

<script>
    $(document).ready(function () {
        $('#commdate').val(new Date('@Model.CommDate').toLocaleString("sv-SE", {
            year: "numeric",
            month: "2-digit",
            day: "2-digit",
            hour: "2-digit",
            minute: "2-digit",
            second: "2-digit"
        }).replace(" ", "T"));

        $(".cancelButton").on("click", function () {
            $(".modal-dialog").find('form').trigger('reset');
        });
        $(".close").on("click", function () {
            $(".modal-dialog").find('form').trigger('reset');
        });

    });
</script>

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="myModalLabel">Edit Inquiry</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        @using (Html.BeginForm("CommLogsEdit", "Inquiries", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.IDInquiry)
            @Html.HiddenFor(model => model.IDInquiryCommLog)
            <div class="modal-body">
                <div class="form">
                    <div class="form-row">
                        <div class="form-group col-sm-4">
                            @Html.EditorFor(model => model.CommDate, new { htmlAttributes = new { @id = "commdate", @type = "datetime-local", @class = "form-control", Required = true } })
                            @Html.ValidationMessageFor(model => model.CommDate, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-sm-4">
                            @Html.EditorFor(model => model.InitiatedBy, new { htmlAttributes = new { @id = "initiatedby", @type = "text", @class = "form-control", autocomplete = "off", Required = true } })
                            @Html.ValidationMessageFor(model => model.CommDate, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-sm-4">
                            @Html.TextAreaFor(model => model.CommDetails, new { @class = "form-control", @rows = 5 })
                            @Html.ValidationMessageFor(model => model.CommDetails, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm cancelButton" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-sm" style="background-color:#444D8E;color:white;">Save</button>
            </div>
        }
    </div>
</div>

