@model IEnumerable<Icarus.Models.tblInquiry>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .tableheadleft {
        border-top-left-radius: 15px !important;
    }

    .tableheadright {
        border-top-right-radius: 15px !important;
    }

    .activity-holder::-webkit-scrollbar {
        width: 12px; /* width of the entire scrollbar */
        background-color: transparent;
        height: 10px;
    }

    .activity-holder::-webkit-scrollbar-track {
        background: transparent !important; /* color of the tracking area */
    }

    .activity-holder::-webkit-scrollbar-thumb {
        background: transparent; /* color of the scroll thumb */
        border-radius: 20px; /* roundness of the scroll thumb */
        border: 3px solid transparent !important; /* creates padding around scroll thumb */
    }

    .activity-holder {
        height: 75vh;
        overflow-y: auto;
    }

    #activityhead {
        position: sticky;
        top: 0; /* Don't forget this, required for the stickiness */
        background-color: #6C7AE0;
    }

    /*td {
        font-size: 14px;
    }*/
</style>
<script>
    function Delete(id) {
        $("#id").val(id);
        $('#myModal').modal().show();
    }

    function Add() {
        $("#createModal").modal().show();
    }

    

    $(document).ready(function () {
        document.title = 'Inquiry Logs';
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>


<div class="pl-5 pr-5">
    <div class="d-flex mb-2 mt-2 justify-content-between">
        <input class="form-control col-sm-4" id="myInput" type="search" placeholder="Search" aria-label="Search">
        <div>
            <a class="btn" style="background-color:#4E58A2;color:white;" onclick="Add()">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                <span>&nbsp;Add Inquiry</span>
            </a>
        </div>
    </div>
    <hr>
    <div class="activity-holder">
        <table class="table table-striped table-hover table-borderless">
            <thead style="background-color: #6C7AE0; color: white;">
                <tr>
                    <th id="activityhead" scope="col" class="tableheadleft" width="13%">
                        Inquiry Date
                    </th>
                    <th id="activityhead" width="13%" scope="col">
                        @Html.DisplayNameFor(model => model.Codep)
                    </th>
                    <th id="activityhead" scope="col">
                        Contact #
                    </th>
                    <th id="activityhead" scope="col">
                        @Html.DisplayNameFor(model => model.Prospect)
                    </th>
                    <th id="activityhead" scope="col">
                        @Html.DisplayNameFor(model => model.Details)
                    </th>
                    <th id="activityhead" scope="col" width="16%">
                        Follow Up On
                    </th>
                    <th id="activityhead" class="text-center" scope="col">
                        Status
                    </th>
                    <th id="activityhead" class="tableheadright text-center" scope="col" width="11%">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody id="myTable">
                @foreach (var item in Model)
                {
                    <tr>
                        <td >
                            @Html.DisplayFor(modelItem => item.InquiryDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Codep)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Prospect)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Details)
                        </td>
                        <td>
                            @item.FollowupOn
                        </td>
                        <td class="text-center">
                            @if (item.IDInquiryStatus == 1)
                            {
                                <p>Open</p>
                            }
                            else if (item.IDInquiryStatus == 2)
                            {
                                <p>For Followup</p>

                            }
                            else if (item.IDInquiryStatus == 3)
                            {
                                <p>Closed - Converted</p>

                            }
                            else if (item.IDInquiryStatus == 4)
                            {
                                <p>Closed - Did Not Convert</p>

                            }
                        </td>
                        <td>
                            <center>
                                <a class="btn btn-sm btn-warning" href="/Inquiries/Details/@item.IDInquiry">Edit</a>
                                @if (Session["isADG"].ToString() == "Y")
                                {
                                    <button type="button" class="btn btn-sm btn-danger" value="@item.IDInquiry" onclick="Delete(@item.IDInquiry)">Delete</button>
                                }
                            </center>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        @Html.Partial("_CreatePartial", ViewData["Inquiry"])
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this Inquiry Log?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                    @using (Html.BeginForm("Delete", "Inquiries", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input type="number" class="id" id="id" style="display:none;" name="id" value="" />
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>