@model IEnumerable<Icarus.Models.tblInquiry>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pl-5 pr-5">
    <div class="d-flex mb-2 mt-2 justify-content-between">
        <input class="form-control col-sm-4" id="myInput" type="search" placeholder="Search" aria-label="Search">
        <div>
            <a class="btn" style="background-color:#4E58A2;color:white;" href="/Inquiries/Create">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                <span>&nbsp;Add Inquiry</span>
            </a>
        </div>
    </div>
    <hr>
    <table class="table table-striped table-hover table-borderless">
        <thead style="background-color: #6C7AE0; color: white;">
            <tr>
                <th class="tableheadleft" scope="col">
                    @Html.DisplayNameFor(model => model.IDInquiry)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.InquiryDate)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Codep)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.ContactNo)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Prospect)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Details)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.FollowupOn)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.IDInquiryStatus)
                </th>
                <th class="tableheadright" scope="col">
                    Action
                </th>
            </tr>
        </thead>
        <tbody id="myTable">
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IDInquiry)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InquiryDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Codep)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prospect)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Details)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FollowupOn)
                </td>
                <td>
                    @if (item.IDInquiryStatus == 1)
                    {
                        <p>Open</p>
                    }
                    else if (item.IDInquiryStatus == 2)
                    {
                        <p>For Followup</p>

                    }
                    else if (item.IDInquiryStatus == 3)
                    {
                        <p>Closed - Converted</p>

                    }
                    else if (item.IDInquiryStatus == 4)
                    {
                        <p>Closed - Did Not Convert</p>

                    }
                </td>
                <td>
                    <center>
                        <a class="btn btn-sm btn-warning" href="/Inquiries/Edit/@item.IDInquiry">Edit</a>
                        <a class="btn btn-sm btn-danger" href="/Inquiries/Delete/@item.IDInquiry">Delete</a>
                    </center>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<style>
    .tableheadleft {
        border-top-left-radius: 15px !important;
    }

    .tableheadright {
        border-top-right-radius: 15px !important;
    }
</style>
<script>
    $(document).ready(function () {
        document.title = 'Inquiry Logs';
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
