@model Icarus.Models.tblRequest

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Create Request</h2>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form">
            <div class="form-row">
                <div class="form-group col-sm-4">
                    <label><b>Date Requested</b></label>
                    @Html.TextBoxFor(model => model.DateRequest, new { @type = "datetime-local", @class = "form-control datetimepicker" })
                </div>
                <div class="form-group col-sm-4">
                    <label><b>Date Needed</b></label>
                    @Html.TextBoxFor(model => model.DateNeeded, new { @type = "datetime-local", @class = "form-control datetimepicker" })
                </div>
                <div class="form-group col-sm-4">
                    <label><b>Requested by:</b></label>
                    @Html.EditorFor(model => model.RequestedBy, new { htmlAttributes = new { @class = "form-control" } })

                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-4">
                    <label><b>Budget</b></label>
                    @Html.EditorFor(model => model.Budget, new { htmlAttributes = new { @type = "number", @class = "form-control" } })
                </div>
                <div class="form-group col-sm-4">
                    <label><b>Request Status</b></label>
                    @Html.DropDownListFor(model => model.IDRequestStatus, ViewBag.requests as SelectList, new { @class = "form-control" })
                </div>
                <div class="form-group col-sm-4">
                    <label><b>Date Approved</b></label>
                    @Html.TextBoxFor(model => model.DateApproved, new { @type = "datetime-local", @class = "form-control datetimepicker" })
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-4">
                    <label><b>Requestor Email</b></label>
                    @Html.EditorFor(model => model.RequestorEmail, new { htmlAttributes = new { @type = "email", @class = "form-control" } })
                </div>
                <div class="form-group col-sm-4">
                    <label><b>Date Accepted</b></label>
                    @Html.TextBoxFor(model => model.DateAcc, new { @type = "datetime-local", @class = "form-control datetimepicker" })
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-4">
                    <label><b>Request</b></label>
                    @Html.TextAreaFor(model => model.Request, new { @class = "form-control", @rows = 5 })
                </div>
                <div class="form-group col-sm-4">
                    <label><b>Approver Notes</b></label>
                    @Html.TextAreaFor(model => model.ApproverNotes, new { @class = "form-control", @rows = 5 })
                </div>
                <div class="form-group col-sm-4">
                    <label><b>Requestor Notes</b></label>
                    @Html.TextAreaFor(model => model.RequestorNotes, new { @class = "form-control", @rows = 5 })
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <div class="pull-left">
                        <a type="button" class="btn btn-sm btn-warning" href="/Requests">Go Back</a>
                        <input type="submit" value="Create" class="btn btn-primary btn-sm" />
                    </div>
                </div>
            </div>

        </div>
    }

</div>
<script>
    $(document).ready(function () {
        document.title = 'Create Request';
    });
</script>
