@model Icarus.Models.tblRequest

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tblRequest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateRequest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRequest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateNeeded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateNeeded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Request)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Request)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Budget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Budget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDRequestStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDRequestStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApproverNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApproverNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateApproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateApproved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestorEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestorEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAcc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAcc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestorNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestorNotes)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
