@model Icarus.Models.tblRequest

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2> Request Details</h2>

    <div>
        <hr />
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>
                        <b>
                            Date Request
                        </b>
                    </p>
                </div>
                <div class="col">
                    <p>
                        @Html.DisplayFor(model => model.DateRequest)
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        <b>
                            Date Needed
                        </b>
                    </p>
                </div>
                <div class="col">
                    <p>
                        @Html.DisplayFor(model => model.DateNeeded)
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        <b>
                            Requested By
                        </b>
                    </p>
                </div>
                <div class="col">
                    <p>
                        @Html.DisplayFor(model => model.RequestedBy)
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        <b>
                            Request
                        </b>
                    </p>
                </div>
                <div class="col">
                    <p>
                        @Html.DisplayFor(model => model.Request)
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        <b>
                            Budget
                        </b>
                    </p>
                </div>
                <div class="col">
                    <p>
                        @Html.DisplayFor(model => model.Budget)
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        <b>
                            Approved By
                        </b>
                    </p>
                </div>
                <div class="col">
                    <p>
                        @Html.DisplayFor(model => model.ApprovedBy)
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        <b>
                            Request Status
                        </b>
                    </p>
                </div>
                <div class="col">
                    <p>
                        @Html.DisplayFor(model => model.IDRequestStatus)
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        <b>
                            Approver Notes
                        </b>
                    </p>
                </div>
                <div class="col">
                    <p>
                        @Html.DisplayFor(model => model.ApproverNotes)
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        <b>
                            Date Approved
                        </b>
                    </p>
                </div>
                <div class="col">
                    <p>
                        @Html.DisplayFor(model => model.DateApproved)
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        <b>
                            Requestor Email
                        </b>
                    </p>
                </div>
                <div class="col">
                    <p>
                        @Html.DisplayFor(model => model.RequestorEmail)
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        <b>
                            Date Accepted
                        </b>
                    </p>
                </div>
                <div class="col">
                    <p>
                        @Html.DisplayFor(model => model.DateAcc)
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        <b>
                            Requestor Notes
                        </b>
                    </p>
                </div>
                <div class="col">
                    @Html.DisplayFor(model => model.RequestorNotes)
                </div>
            </div>
            <div class="row">
                <div class="col mt-2 text-center">
                    <a class="btn btn-sm btn-warning" href="javascript:history.back()">Go back to lists</a>
                    <a class="btn btn-sm btn-primary" href="/Requests/Edit/@Model.IDRequest">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        document.title = 'Request Details';
    });
</script>
