@model IEnumerable<Icarus.Models.tblRequest>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .tableheadleft {
        border-top-left-radius: 15px !important;
    }

    .tableheadright {
        border-top-right-radius: 15px !important;
    }
    .request-holder::-webkit-scrollbar {
        width: 12px; /* width of the entire scrollbar */
        background-color: #dddddd;
        height: 10px;
    }

    .request-holder::-webkit-scrollbar-track {
        background: #dddddd !important; /* color of the tracking area */
    }

    .request-holder::-webkit-scrollbar-thumb {
        background: #808080; /* color of the scroll thumb */
        border-radius: 20px; /* roundness of the scroll thumb */
        border: 3px solid grey !important; /* creates padding around scroll thumb */
    }

    .request-holder {
        height: 76vh;
        overflow-y: auto;
        overflow-x: scroll;
    }

    td, th {
        min-width: 200px;
        height: 25px;
        border: dashed 1px lightblue;
        overflow: hidden;
        text-overflow: ellipsis;
        /*max-width: 100px;*/
    }

    #requesthead {
        position: sticky;
        top: 0; /* Don't forget this, required for the stickiness */
        background-color: #6C7AE0;
    }
</style>
<script>
    function Delete(id) {
        $("#id").val(id);
        $('#myModal').modal().show();
    }

    function Add() {
        $("#createModal").modal().show();
    }

    function Edit(id) {
        var url = $("#editModal").data("url");
        $.get(url + "/" + id, function (data) {
            $("#editModal").html(data);
            $("#editModal").modal().show();
        });
    }

    $(document).ready(function () {
        document.title = 'Requests Browse';
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<div class="pl-5 pr-5">
    <div class="d-flex mb-2 mt-2 justify-content-between">
        <input class="form-control col-sm-4" id="myInput" type="search" placeholder="Search" aria-label="Search">
        <div>
            <button class="btn" style="background-color:#4E58A2;color:white;" onclick="Add()">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                <span>&nbsp;Add Request</span>
            </button>
        </div>
    </div>
    <hr>
    <div class="request-holder">
        <table class="table table-striped table-hover table-borderless">
            <thead style="background-color: #6C7AE0; color: white;">
                <tr>
                    <th id="requesthead"  class="tableheadleft" scope="col">Date Request</th>
                    <th id="requesthead" scope="col">Date Needed</th>
                    <th id="requesthead" scope="col">Requested by</th>
                    <th id="requesthead" scope="col">Request</th>
                    <th id="requesthead" scope="col">Approved Notes</th>
                    <th id="requesthead" scope="col">Budget</th>
                    <th id="requesthead" scope="col">Approved By</th>
                    <th id="requesthead" scope="col">Date Approved</th>
                    <th id="requesthead" scope="col">Date Delivered</th>
                    <th id="requesthead" scope="col">Status</th>
                    <th id="requesthead" class="tableheadright" scope="col">Action</th>
                </tr>
            </thead>
            <tbody id="myTable">
                @foreach (var item in Model)
                {
                    var dateapproved = item.DateApproved == null ? "" : ((DateTime)item.DateApproved).ToShortDateString();
                    var daterequest = item.DateRequest == null ? "" : ((DateTime)item.DateRequest).ToShortDateString();
                    var dateaccepted = item.DateAcc == null ? "" : ((DateTime)item.DateAcc).ToShortDateString();


                    <tr>
                        <td>
                            @daterequest
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateNeeded)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RequestedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Request)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApproverNotes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Budget)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApprovedBy)
                        </td>
                        <td>
                            @dateapproved
                        </td>
                        <td>
                            @dateaccepted
                        </td>
                        <td>
                            @foreach (var status in ViewBag.requestStatus)
                            {
                                if (status.IDRequestStatus == item.IDRequestStatus)
                                {
                                    @status.Status
                                }
                            }
                        </td>
                        <td>
                            <div style="display:flex;">
                                <button class="btn btn-warning btn-sm mr-1" onclick="Edit(@item.IDRequest)">Edit</button>
                                @if (Session["isADG"].ToString() == "Y")
                                {
                                    <button class="btn btn-danger btn-sm ml-1" type="button" onclick="Delete(@item.IDRequest)">Delete</button>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-url="@Url.Action("EditPartial","Requests")">
    </div>
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        @Html.Partial("_CreatePartial", ViewData["Request"])
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this Request?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                    @using (Html.BeginForm("Delete", "Requests", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input type="number" class="id" id="id" style="display:none;" name="id" value="" />
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>