@model Icarus.Models.tblExpens

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        document.title = 'Expense Details';
    });
</script>
<div class="container">
    <h2>Expense Details</h2>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col">
                <p>
                    <b>
                        Date Posted
                    </b>
                </p>
            </div>
            <div class="col">
                <p>
                    @Html.DisplayFor(model => model.DatePosted)
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    <b>
                        Expense Date
                    </b>
                </p>
            </div>
            <div class="col">
                <p>
                    @Html.DisplayFor(model => model.ExpenseDate)
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    <b>
                        OR Number
                    </b>
                </p>
            </div>
            <div class="col">
                <p>
                    @Html.DisplayFor(model => model.ORNumber)
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    <b>
                        Vendor
                    </b>
                </p>
            </div>
            <div class="col">
                <p>
                    @Html.DisplayFor(model => model.IDVendor)
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    <b>
                        Particulars
                    </b>
                </p>
            </div>
            <div class="col">
                <p>
                    @Html.DisplayFor(model => model.Particulars)
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    <b>
                        W/ Receipt
                    </b>
                </p>
            </div>
            <div class="col">
                <p>
                    @Html.DisplayFor(model => model.WithReceipt)
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    <b>
                        ID Account
                    </b>
                </p>
            </div>
            <div class="col">
                <p>
                    @Html.DisplayFor(model => model.IDAccount)
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    <b>
                        Encode By
                    </b>
                </p>
            </div>
            <div class="col">
                <p>
                    @Html.DisplayFor(model => model.EncodedBy)
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    <b>
                        Is Verified
                    </b>
                </p>
            </div>
            <div class="col">
                <p>
                    @Html.DisplayFor(model => model.IsVerified)
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    <b>
                        Charge To Codep
                    </b>
                </p>
            </div>
            <div class="col">
                <p>
                    @Html.DisplayFor(model => model.ChargeToCodep)
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    <b>
                        VAT Sales
                    </b>
                </p>
            </div>
            <div class="col">
                <p>
                    @Html.DisplayFor(model => model.VATSales)
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    <b>
                        VAT Amount
                    </b>
                </p>
            </div>
            <div class="col">
                <p>
                    @Html.DisplayFor(model => model.VATAmount)
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    <b>
                        VAT Exempt
                    </b>
                </p>
            </div>
            <div class="col">
                <p>
                    @Html.DisplayFor(model => model.VATExempt)
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    <b>
                        Amount
                    </b>
                </p>
            </div>
            <div class="col">
                <p>
                    @Html.DisplayFor(model => model.Amount)
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    <b>
                        Posted Date
                    </b>
                </p>
            </div>
            <div class="col">
                <p>
                    @Html.DisplayFor(model => model.PostedDate)
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col mt-2 text-center">
                <a class="btn btn-sm btn-warning" href="javascript:history.back()">Go back to lists</a>
                <a class="btn btn-sm btn-primary" href="/Expenses/Edit/@Model.IDExpense">Edit</a>
            </div>
        </div>
    </div>
</div>