@model Icarus.Models.tblExpens

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        document.title = 'Edit Expense';
        $('#expensedate').val(new Date('@Model.ExpenseDate').toLocaleString("sv-SE", {
            year: "numeric",
            month: "2-digit",
            day: "2-digit",
            hour: "2-digit",
            minute: "2-digit",
            second: "2-digit"
        }).replace(" ", "T"));
        $('#posteddate').val(new Date('@Model.PostedDate').toLocaleString("sv-SE", {
            year: "numeric",
            month: "2-digit",
            day: "2-digit",
            hour: "2-digit",
            minute: "2-digit",
            second: "2-digit"
        }).replace(" ", "T"));
    });

</script>

<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IDExpense)
        @Html.HiddenFor(model => model.EncodedBy)
        @Html.HiddenFor(model => model.PostedDate)
        <div class="d-flex align-items-center justify-content-between">
            <h2>Edit Expense</h2>
            <div>
                <a type="button" class="btn btn-warning" href="/Expenses">Go Back</a>
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </div>
        <hr />
        <div class="form">
            <div class="form-row">
                <div class="form-group col-sm-4">
                    <label><b>Date Posted</b></label>
                    @Html.TextBoxFor(model => model.PostedDate, new {@id="posteddate", @type = "datetime-local", @class = "form-control posteddate", Required = true })
                </div>
                <div class="form-group col-sm-4">
                    <label><b>Expense Date</b></label>
                    @Html.TextBoxFor(model => model.ExpenseDate, new {@id="expensedate", @type = "datetime-local", @class = "form-control expensedate" })
                </div>
                <div class="form-group col-sm-4">
                    <label><b>OR Number</b></label>
                    @Html.EditorFor(model => model.ORNumber, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-4">
                    <label><b>Vendor</b></label>
                    @Html.DropDownListFor(model => model.IDVendor, (SelectList)ViewBag.vendors, new { @class = "form-control" })
                </div>
                <div class="form-group col-sm-4">
                    <label><b>With Receipt</b></label>
                    @Html.DropDownListFor(modelItem => modelItem.WithReceipt,
                            (
                                new[] { new SelectListItem { Text = "N", Value = "N" },
                                new SelectListItem { Text = "Y", Value = "Y" }
                            }),
                            new { @class = "form-control", @Value=Model.WithReceipt, Selected=true })
                </div>
                <div class="form-group col-sm-4">
                    <label><b>ID Account</b></label>
                    @Html.DropDownListFor(model => model.IDAccount, ViewBag.accountsList as SelectList, new { @class = "form-control", @Value = Model.IDAccount, Selected = true })
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-4">
                    <label><b>Verified</b></label>
                    @Html.DropDownListFor(modelItem => modelItem.IsVerified,
                            (
                                new[] { new SelectListItem { Text = "N", Value = "N" },
                                new SelectListItem { Text = "Y", Value = "Y" }
                            }),
                            new { @class = "form-control", @Value=Model.IsVerified, Selected=true })
                </div>
                <div class="form-group col-sm-4">
                    <label><b>Amount</b></label>
                    @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @id = "amount", @type = "number", @class = "form-control amount", @Value = "0", Required = true } })
                </div>
                <div class="form-group col-sm-4">
                    <label><b>VAT Sales</b></label>
                    @Html.EditorFor(model => model.VATSales, new { htmlAttributes = new { @id = "vatsales", @type = "number", @class = "form-control vatsales", @Value = "0.00", disabled = true } })
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-4">
                    <label><b>VAT Amount</b></label>
                    @Html.EditorFor(model => model.VATAmount, new { htmlAttributes = new { @id = "vatamount", @type = "number", @class = "form-control vatamount", @Value = "0.00", disabled = true } })

                </div>
                <div class="form-group col-sm-4">
                    <label><b>VAT Exempt</b></label>
                    @Html.EditorFor(model => model.VATExempt, new { htmlAttributes = new { @id = "vatexempt", @type = "number", @class = "form-control vatexempt", @Value = "0" } })
                </div>
                <div class="form-group col-sm-4">
                    <label><b>TIN</b></label>
                    @Html.EditorFor(model => model.TIN, new { htmlAttributes = new { id = "tin", @class = "form-control tin" } })
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-4">
                    <label><b>Charged To Codep</b></label>
                    @Html.EditorFor(model => model.ChargedToCodep, new { htmlAttributes = new { @type = "number", @class = "form-control", @Value = "0.00" } })
                </div>
                <div class="form-group col-sm-4">
                    <label><b>Charge To Codep</b></label>
                    @Html.DropDownListFor(modelItem => modelItem.ChargeToCodep,
                            (
                                new[] { new SelectListItem { Text = "N", Value = "N" },
                                new SelectListItem { Text = "Y", Value = "Y" }
                            }),
                            new { @class = "form-control chargeCodep", @Value=Model.ChargeToCodep, Selected=true })
                </div>
                <div class="form-group col-sm-4">
                    <label><b>Particulars</b></label>
                    @Html.TextAreaFor(model => model.Particulars, new { @class = "form-control", @rows = 5 })
                </div>
            </div>
        </div>
    }
</div>
<div class="container">
    <div id="assertionButton">
        <button class="btn addAssertion" id="addAssertion" style="background-color:#4E58A2;color:white;">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            <span>&nbsp;Add Assertion</span>
        </button>
        <div class="row col-sm-12 mt-4">
            <div class="col-sm-3 pl-0 idToCodep">
                <label>ID ChargeTo Codep</label>
                <input class="form-control idctc" id="idctc" value="@ViewBag.lastIDCTC" type="number" disabled />
                <span></span>
            </div>
            <div class="col-sm-3 pl-0 idExpense">
                <label>ID Expense</label>
                <input class="form-control idexpense" id="idexpense" value="@ViewBag.lastIDEXP" type="number" disabled />
            </div>
            <div class="col-sm-3 pl-0 assertionDate">
                <label>Charge Date</label>
                <input class="form-control dateassertion" id="chargedate" type="date" />
            </div>
            <div class="col-sm-3 pl-0 assertionCategory">
                <label>Assertion Category</label>
                <select class="form-control categorychooser" id="categoryChooser">
                    @foreach (var item in ViewBag.category)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
        </div>
        <div class="row col-sm-12 mt-4">
            <div class="col-sm-3 description pl-0">
                <label><b>Description</b></label>
                <input class="form-control description" id="description" />
                <span id="descriptionMessage" style="color:red;"></span>
            </div>
        </div>
    </div>
    <div class="modal fade assertionModal" id="assertionModal" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="gridSystemModalLabel">Add Assertion</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row p-2">
                            <div class="col-sm-4">
                                <label><b>ID Admission</b></label>
                                <select class="form-control admission" id="admission">
                                    @foreach (var item in ViewBag.residentList)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                                <span id="admissionMessage"></span>
                            </div>
                            <div class="col-sm-4">
                                <label><b>Assertion Date</b></label>
                                <input class="form-control assertiondate" name="assertiondate" type="date" />
                                <span id="assertionDateMessage"></span>
                            </div>
                            <div class="col-sm-4">
                                <label><b>Qty</b></label>
                                <input class="form-control qty" name="qty" type="number" value="0" min="0" step="1" oninput="validity.valid||(value='');" />
                                <span style="color:red;" id="qtyMessage"></span>
                            </div>
                        </div>
                        <div class="row p-2">
                            <div class="col-sm-4">
                                <label><b>Price</b></label>
                                <input class="form-control price" name="price" type="number" value="0" />
                                <span id="priceMessage" style="color:red;"></span>
                            </div>
                            <div class="col-sm-4">
                                <label><b>Markup %</b></label>
                                <input class="form-control markup" name="markup" type="number" value="0.00" />
                                <span id="markupMessage"></span>
                            </div>
                            <div class="col-sm-4">
                                <label><b>Markup Value</b></label>
                                <input type="number" class="form-control markupvalue" name="markupvalue" disabled value="0.00" />
                                <span id="markupValueMessage"></span>
                            </div>
                        </div>
                        <div class="row p-2">
                            <div class="col-sm-4">
                                <label><b>Subtotal</b></label>
                                <input type="number" class="form-control subtotal" value="0" name="subtotal" disabled />
                                <span id="subtotalMessage"></span>
                            </div>
                            <div class="col-sm-4">
                                <label><b>Posted Date</b></label>
                                <input type="date" class="form-control addassertiondateposted" name="posteddate" id="addassertiondateposted" />
                                <span id="postedDateMessage"></span>
                            </div>
                            <div class="col-sm-4">
                                <label><b>Notes</b></label>
                                <textarea class="form-control assertionnote" rows="5" id="note"></textarea>
                                <span id="notesMessage"></span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger cancelButton" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary addButton">Add</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<div class="modal fade assertionEditModal" id="assertionEditModal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">Edit Assertion</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row p-2">
                    <div class="col-sm-4">
                        <label><b>ID Admission</b></label>
                        <select class="form-control editadmission" id="editadmission">
                            @foreach (var item in ViewBag.residentList)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                        <span style="color:red;" id="editadmissionMessage"></span>
                    </div>
                    <div class="col-sm-4">
                        <label><b>Qty</b></label>
                        <input class="form-control editqty" id="editqty" name="qty" type="number" value="0" min="0" step="1" oninput="validity.valid||(value='');" />
                        <span style="color:red;" id="editqtyMessage"></span>
                    </div>
                    <div class="col-sm-4">
                        <label><b>Assertion Category</b></label>
                        <select class="form-control editcategory" id="editcategory" name="category">
                            @foreach (var item in ViewBag.category)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                        <span style="color:red;" id="editassertionCategoryMessage"></span>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-sm-4">
                        <label><b>Price</b></label>
                        <input class="form-control editprice" id="editprice" name="price" type="number" value="0" />
                        <span id="editpriceMessage" style="color:red;"></span>
                    </div>
                    <div class="col-sm-4">
                        <label><b>Markup %</b></label>
                        <input class="form-control editmarkup" id="editmarkup" name="markup" type="number" value="0.00" />
                        <span style="color:red;" id="editmarkupMessage"></span>
                    </div>
                    <div class="col-sm-4">
                        <label><b>Markup Value</b></label>
                        <input type="number" class="form-control editmarkupvalue" id="editmarkupvalue" name="markupvalue" disabled value="0.00" />
                        <span style="color:red;" id="editmarkupValueMessage"></span>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-sm-4">
                        <label><b>Subtotal</b></label>
                        <input type="number" class="form-control editsubtotal" id="editsubtotal" value="0" name="subtotal" disabled />
                        <span style="color:red;" id="editsubtotalMessage"></span>
                    </div>
                    <div class="col-sm-4">
                        <label><b>Posted Date</b></label>
                        <input type="date" class="form-control editaddassertiondateposted" name="posteddate" id="editposteddate" />
                        <span id="editpostedDateMessage"></span>
                    </div>
                    <div class="col-sm-4">
                        <label><b>Notes</b></label>
                        <textarea class="form-control editassertionnote" rows="5" id="editnote"></textarea>
                        <span style="color:red;" id="editnotesMessage"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger editcancelButton" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary editassertionbutton">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="container">
    <button class="btn saveallassertion pull-right" style="background-color:#4E58A2;color:white;">Save All Assertion</button>
    <br />
    <br />
    <div class="assertionTable">

    </div>
</div>