@model IEnumerable<Icarus.Models.vExpensesBrowse>


@{
    ViewBag.Title = "Expense Browse";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var clicked = ViewBag.clicked;
    if (clicked == null) {
        clicked = "F";
    }
}

<script>
    var pressed = true;
    var organize = 13;

    function Delete(id) {
        $("#id").val(id);
        $('#myModal').modal().show();
    }

    function sortTable() {
        pressed = !pressed;
        if (pressed == true) {
            organize = 0;
        } else {
            organize = 13;
        }
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("myTable");
        switching = true;
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[organize];
                y = rows[i + 1].getElementsByTagName("TD")[organize];
                //check if the two rows should switch place:
                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                    //if so, mark as a switch and break the loop:
                    shouldSwitch = true;
                    break;
                }

            }
            if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }
    }

    $(document).ready(function () {
        document.title = 'Expenses Browse';
        var amount = '@ViewBag.totalAmount';
        $("#totalAmount").text(Number(amount).toLocaleString());
        $("#searchInput1").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#rowTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        //$('table').on('scroll', function () {
        //    $("table > *").width($("table").width() + $("table").scrollLeft());
        //});
    });
</script>

<style>
    .tableheadleft {
        border-top-left-radius: 15px !important;
    }

    .tableheadright {
        border-top-right-radius: 15px !important;
    }

    .table-holder::-webkit-scrollbar {
        width: 12px; /* width of the entire scrollbar */
        background-color: #dddddd;
        height: 10px;
    }

    .table-holder::-webkit-scrollbar-track {
        background: #dddddd !important; /* color of the tracking area */
    }

    .table-holder::-webkit-scrollbar-thumb {
        background: #808080 !important; /* color of the scroll thumb */
        border-radius: 20px; /* roundness of the scroll thumb */
        border: 3px solid grey !important; /* creates padding around scroll thumb */
    }

    th {
        position: sticky;
        top: 0; /* Don't forget this, required for the stickiness */
        background-color: #6C7AE0;
    }

    td, th {
        min-width: 200px;
        height: 25px;
        border: dashed 1px lightblue;
        overflow: hidden;
        text-overflow: ellipsis;
        /*max-width: 100px;*/
    }
    html, body {
        margin: 0;
        height: 100%;
        overflow: hidden
    }
    .footerdetails {
        min-height:4vh;
        text-align: center;
    }
</style>
<div class="pl-5 pr-5 holder" style="height:100vh;">
    <div id="formSearch" class="row" style="height:5%;">
        <div class="col col-sm-3">
            <input id="searchInput1" name="search" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        </div>
        <div class="col-sm-6">
            @using (Html.BeginForm("Index", "Expenses", FormMethod.Get))
            {
                @Html.AntiForgeryToken()

                <div class="d-flex pl-0 pr-0">
                    <input type="date" id="dateFrom" name="start" class="form-control">
                    <input type="date" id="dateTo" name="end" class="form-control ml-1">
                    <span><button type="submit" name="submit" class="btn ml-1" style="background-color:#4E58A2;color:white;">Search</button></span>
                </div>
            }
        </div>
        <div class="col-sm-3">
            <div class="d-flex pull-right">
                <button style="background-color:#4E58A2;color:white;" onclick="sortTable()" class="btn">Verified</button>
                <a class="btn ml-1" style="background-color:#4E58A2;color:white;" href="/Expenses/Create">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    <span>&nbsp;Add Expenses</span>
                </a>
            </div>
        </div>
    </div>
    <hr />
    <div id="tableForm" class="table-holder" style="width:100%;overflow-x:scroll;height:73vh;">
        <table id="myTable" class="table table-striped table-hover table-borderless">
            <thead style="background-color: #6C7AE0; color: white;">
                <tr>
                    <th class="tableheadleft" scope="col" style="min-width: 75px !important">
                        ID
                    </th>
                    <th scope="col">
                        Expense Date
                    </th>
                    <th scope="col">
                        Date Posted
                    </th>
                    <th scope="col">
                        OR Number
                    </th>
                    <th scope="col">
                        Vendor
                    </th>
                    <th scope="col">
                        TIN
                    </th>
                    <th scope="col">
                        Particulars
                    </th>
                    <th scope="col">
                        Account
                    </th>
                    <th scope="col">
                        EncodedBy
                    </th>
                    <th scope="col">
                        Amount
                    </th>
                    <th scope="col">
                        Amount Charged
                    </th>
                    <th scope="col">
                        With Receipt
                    </th>
                    <th scope="col">
                        Charged To Codep
                    </th>
                    <th scope="col">
                        Verified
                    </th>
                    <th class="tableheadright text-center" scope="col">Action</th>
                </tr>
            </thead>
            <tbody id="rowTable">
                @foreach (var item in Model)
                {
                    var id = item.IDExpense;

                    <tr id="item">
                        <td scope="row" style="min-width:75px !important;">
                            <span onClick="window.location='/Expenses/Details/@item.IDExpense'" style="color:blue;text-decoration: underline;cursor:pointer;">@item.IDExpense</span>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExpenseDate)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.DatePosted)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ORNumber)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Vendor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TIN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Particulars)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Account)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EncodedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ChargedToCodep)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WithReceipt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ChargeToCodep)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsVerified)
                        </td>
                        <td>
                            <center>
                                <a class="btn btn-sm btn-warning" href="/Expenses/Edit/@item.IDExpense">Edit</a>
                                <button type="button" class="btn btn-sm btn-danger" onclick="Delete(@item.IDExpense)">Delete</button>
                            </center>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="footerdetails">
        <label>Total Amount: <span id="totalAmount"></span></label>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this Expense?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                    @using (Html.BeginForm("Delete", "Expenses", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input type="number" class="id" id="id" style="display:none;" name="id" value="" />
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


