@model Icarus.Models.tblCodepUpdate

<script>
    $(document).ready(function () {
        var dateupdate = new Date('@Model.DateUpdate'); // Or the date you'd like converted.
        var updatedate = new Date(dateupdate.getTime() - (dateupdate.getTimezoneOffset() * 60000)).toISOString().substring(0, 10);
        $(".dateupdate").val(updatedate);

        var datelog = new Date('@Model.DateLog'); // Or the date you'd like converted.
        var logdate = new Date(datelog.getTime() - (datelog.getTimezoneOffset() * 60000)).toISOString().substring(0, 10);
        $(".datelog").val(logdate);


        $(".cancelButton").on("click", function () {
            $(".modal-dialog").find('form').trigger('reset');
        });
        $(".close").on("click", function () {
            $(".modal-dialog").find('form').trigger('reset');
        });

    });
</script>

<div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="myModalLabel">Edit Codep Update</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        @using (Html.BeginForm("Edit", "CodepUpdates", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.IDUpdate)
            @Html.HiddenFor(model => model.UpdatedBy)

            <div class="modal-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form">
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label>Date Update <span class="required">*</span></label>
                            @Html.TextBoxFor(model => model.DateUpdate, new { @type = "date", @class = "form-control dateupdate", @id = "dateupdate", Required = true })
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Date Log <span class="required">*</span></label>
                            @Html.TextBoxFor(model => model.DateLog, new { @type = "date", @class = "form-control datelog", @id = "datelog", Required = true })
                        </div>
                        
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label><b>Update Log</b></label>
                            @Html.DropDownListFor(model => model.UpdateType,
                                    (
                                        new[] { new SelectListItem { Text = "Program", Value = "Program" },
                                        new SelectListItem { Text = "Medical", Value = "Medical" }
                                    }),
                                    new { @class = "form-control" })
                        </div>
                        <div class="form-group col-sm-6">
                            <label><b>Admission</b></label>
                            @Html.DropDownListFor(model => model.IDAdmission, ViewBag.residentList as SelectList, new { @class = "form-control" })
                            <span>@ViewBag.admissionEdit</span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label><b>Updated By</b></label>
                            @Html.EditorFor(model => model.UpdatedBy, new { htmlAttributes = new { @class = "form-control", @Value = Session["Username"], disabled = true } })
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Update Summary <span class="required">*</span></label>
                            @Html.TextAreaFor(model => model.UpdateSummary, new { @class = "form-control", @rows = 5, Required = true })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm cancelButton" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-sm" style="background-color:#444D8E;color:white;">Save</button>
            </div>
        }
    </div>
</div>




