@model IEnumerable<Icarus.Models.vselCodepUpdateBrowse>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .tableheadleft {
        border-top-left-radius: 15px !important;
    }

    .tableheadright {
        border-top-right-radius: 15px !important;
    }
</style>
<script>
    function Delete(id) {
        $("#id").val(id);
        $('#myModal').modal().show();
    }

    $(document).ready(function () {
        document.title = 'Codep Updates Browse';

        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<div class="pl-5 pr-5">
    <div class="d-flex mb-2 mt-2 justify-content-between sticky">
        <input class="form-control col-sm-4" id="myInput" type="search" placeholder="Search" aria-label="Search">
        @if (Session["isADG"].ToString() == "Y" || Session["isEDG"].ToString() == "Y" || Session["isPG"].ToString() == "Y")
        {
            <div>
                <a class="btn" style="background-color:#4E58A2;color:white;" href="/CodepUpdates/Create">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    <span>&nbsp;Add Update</span>
                </a>
            </div>
        }
    </div>
    <hr>
    <div>
        <table class="table table-striped table-hover table-borderless">
            <thead class="head" style="background-color: #6C7AE0; color: white;">
                <tr>
                    <th scope="col" class="tableheadleft" width="5%">ID</th>
                    <th scope="col" width="13%">Date Update</th>
                    <th scope="col" width="13%">Date Log</th>
                    <th scope="col" width="8%">Update Type</th>
                    <th scope="col" width="8%">Updated By</th>
                    <th scope="col">Update Summary</th>
                    <th scope="col" width="10%">ID Admission</th>
                    @if (Session["isADG"].ToString() == "Y" || Session["isPG"].ToString() == "Y" || Session["isEDG"].ToString() == "Y")
                    {
                        <th scope="col" width="15%">Resident</th>
                        <th scope="col" class="tableheadright text-center" width="10%">Action</th>
                    }
                    else
                    {
                        <th scope="col" class="tableheadright" width="15%">Resident</th>
                    }
                </tr>
            </thead>
            <tbody id="myTable">
                @foreach (var item in Model)
                {
                <tr>
                    <td scope="row" style="text-decoration:underline;">
                        @Html.ActionLink(
                            linkText: item.IDUpdate.ToString(),
                            actionName: "Details",
                            controllerName: "CodepUpdates",
                            routeValues: new { id = item.IDUpdate },
                            htmlAttributes: null
                        )
                    </td>
                    <td>@item.DateUpdate</td>
                    <td>@item.DateLog</td>
                    <td>@item.UpdateType</td>
                    <td>@item.UpdatedBy</td>
                    <td>@item.UpdateSummary</td>
                    <td>@item.IDAdmission</td>
                    <td>@item.Resident</td>
                    @if (Session["isADG"].ToString() == "Y" || Session["isPG"].ToString() == "Y" || Session["isEDG"].ToString() == "Y")
                    {
                        <td>
                            <center>
                                <a class="btn btn-sm btn-warning" href="/CodepUpdates/Edit/@item.IDUpdate">Edit</a>
                                @if (Session["isADG"].ToString() == "Y") {
                                    <button class="btn btn-sm btn-danger" type="button" onclick="Delete(@item.IDUpdate)">Delete</button>
                                }
                            </center>
                        </td>
                    }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this Codep Update?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                    @using (Html.BeginForm("Delete", "CodepUpdates", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input type="number" class="id" id="id" style="display:none;" name="id" value="" />
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
