@model Icarus.Models.tblPayment

<script>
    $(document).ready(function () {
        $('#paiddate').val(new Date('@Model.PaidDate').toLocaleString("sv-SE", {
            year: "numeric",
            month: "2-digit",
            day: "2-digit",
            hour: "2-digit",
            minute: "2-digit",
            second: "2-digit"
        }).replace(" ", "T"));
        $('#checkdate').val(new Date('@Model.CheckDate').toLocaleString("sv-SE", {
            year: "numeric",
            month: "2-digit",
            day: "2-digit",
            hour: "2-digit",
            minute: "2-digit",
            second: "2-digit"
        }).replace(" ", "T"));
        $('#posteddate').val(new Date('@Model.PostedDate').toLocaleString("sv-SE", {
            year: "numeric",
            month: "2-digit",
            day: "2-digit",
            hour: "2-digit",
            minute: "2-digit",
            second: "2-digit"
        }).replace(" ", "T"));
        $(".cancelButton").on("click", function () {
            $(".modal-dialog").find('form').trigger('reset');
        });
        $(".close").on("click", function () {
            $(".modal-dialog").find('form').trigger('reset');
        });
    });
</script>

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="myModalLabel">Payment Details</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
            <div class="modal-body">
                <div class="form">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-row">
                        <div class="form-group col-sm-4">
                            <label><b>Paid Date</b></label>
                            @Html.EditorFor(model => model.PaidDate, new { htmlAttributes = new {@id="paiddate", @type = "datetime-local", @class = "form-control paiddate", disabled = true } })
                            @Html.ValidationMessageFor(model => model.PaidDate, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-sm-4">
                            <label><b>ID Admission</b></label>
                            @Html.DropDownListFor(model => model.IDAdmission, (SelectList)ViewBag.residentList, new { @class = "form-control", disabled = true })
                            @Html.ValidationMessageFor(model => model.IDAdmission, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-sm-4">
                            <label><b>Total Paid</b></label>
                            @Html.EditorFor(model => model.TotalPaid, new { htmlAttributes = new { @type = "number", @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.TotalPaid, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-4">
                            <label><b>Payment Method</b></label>
                            @Html.DropDownListFor(model => model.IDPaymentMethod, ViewBag.paymentMethods as SelectList, new { @class = "form-control", disabled = true })
                            @Html.ValidationMessageFor(model => model.IDPaymentMethod, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-sm-4">
                            <label><b>Bank</b></label>
                            @Html.EditorFor(model => model.Bank, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.Bank, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-sm-4">
                            <label><b>Check No</b></label>
                            @Html.EditorFor(model => model.CheckNo, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.CheckNo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-4">
                            <label><b>Check Date</b></label>
                            @Html.EditorFor(model => model.CheckDate, new { htmlAttributes = new {@id="checkdate", @type = "datetime-local", @class = "form-control checkdate", disabled = true } })
                            @Html.ValidationMessageFor(model => model.CheckDate, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-sm-4">
                            <label><b>Verified</b></label>
                            @Html.DropDownListFor(modelItem => modelItem.IsVerified,
                                     (
                                         new[] { new SelectListItem { Text = "Y", Value = "Y" },
                                                new SelectListItem { Text = "N", Value = "N" }
                                     }),
                                     new { @class = "form-control active", disabled = true })
                            @Html.ValidationMessageFor(model => model.IsVerified, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-sm-4">
                            <label><b>Posted Date</b></label>
                            @Html.EditorFor(model => model.PostedDate, new { htmlAttributes = new {@id="posteddate", @type = "datetime-local", @class = "form-control posteddate", disabled=true } })
                            @Html.ValidationMessageFor(model => model.PostedDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-4">
                            <label><b>Notes</b></label>
                            @Html.TextAreaFor(model => model.Notes, new { @class = "form-control", @rows = 5, disabled = true })
                            @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm cancelButton" data-dismiss="modal">Close</button>
            </div>
    </div>
</div>
