@model Icarus.Models.tblPayment

<script>
    $(document).ready(function () {
        var paiddate = new Date('@Model.PaidDate');
        var datepaid = new Date(paiddate.getTime() - (paiddate.getTimezoneOffset() * 60000)).toISOString().substring(0, 10);
        $('.paiddate').val(datepaid);

        var posteddate = new Date('@Model.PostedDate');
        var dateposted = new Date(posteddate.getTime() - (posteddate.getTimezoneOffset() * 60000)).toISOString().substring(0, 10);
        $('.posteddate').val(dateposted);

        if ('@Model.CheckDate' != null) {
            var datecheck = new Date('@Model.CheckDate'); // Or the date you'd like converted.
            var checkdate = new Date(datecheck.getTime() - (datecheck.getTimezoneOffset() * 60000)).toISOString().substring(0, 10);
            $('.checkdate').val(checkdate);
        }

        $(".cancelButton").on("click", function () {
            $(".modal-dialog").find('form').trigger('reset');
        });
        $(".close").on("click", function () {
            $(".modal-dialog").find('form').trigger('reset');
        });

    });
</script>

<style>
    .required {
        color: red;
    }
</style>

<div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="myModalLabel">Edit Payment</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        @using (Html.BeginForm("Edit", "Payments", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.IDPayment)
            <div class="modal-body">
                <div class="form">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label>Paid Date <span class="required"> *</span></label>
                            @Html.EditorFor(model => model.PaidDate, new { htmlAttributes = new { @type = "date",@id="paiddate", @class = "form-control paiddate", Required = true } })
                            @Html.ValidationMessageFor(model => model.PaidDate, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-sm-6">
                            <label><b>ID Admission</b></label>
                            @Html.DropDownListFor(model => model.IDAdmission, (SelectList)ViewBag.residentList, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IDAdmission, "", new { @class = "text-danger" })
                        </div>
                        
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label>Total Paid <span class="required"> *</span></label>
                            @Html.EditorFor(model => model.TotalPaid, new { htmlAttributes = new { @type = "number", @class = "form-control", Required = true } })
                            @Html.ValidationMessageFor(model => model.TotalPaid, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-sm-6">
                            <label><b>Payment Method</b></label>
                            @Html.DropDownListFor(model => model.IDPaymentMethod, (SelectList)ViewBag.paymentMethod, new { @class = "form-control", Value = Model.IDPaymentMethod, Selected = Model.IDPaymentMethod })
                            @Html.ValidationMessageFor(model => model.IDPaymentMethod, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label><b>Bank</b></label>
                            @Html.EditorFor(model => model.Bank, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.Bank, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-sm-6">
                            <label><b>Check #</b></label>
                            @Html.EditorFor(model => model.CheckNo, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.CheckNo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label><b>Check Date</b></label>
                            @Html.EditorFor(model => model.CheckDate, new { htmlAttributes = new { @type = "date",@id="checkdate", @class = "form-control checkdate" } })
                            @Html.ValidationMessageFor(model => model.CheckDate, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-sm-6">
                            <label><b>Verified (Y/N)</b></label>
                            @Html.DropDownListFor(modelItem => modelItem.IsVerified,
                                     (
                                         new[] { new SelectListItem { Text = "Y", Value = "Y" },
                                                new SelectListItem { Text = "N", Value = "N" }
                                     }),
                                     new { @class = "form-control active", Value = Model.IsVerified, Text = Model.IsVerified, Selected = true })
                            @Html.ValidationMessageFor(model => model.IsVerified, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label>Posted Date <span class="required"> *</span></label>
                            @Html.EditorFor(model => model.PostedDate, new { htmlAttributes = new { @type = "date", @id = "posteddate", @class = "form-control posteddate", Required = true } })
                            @Html.ValidationMessageFor(model => model.PostedDate, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-sm-6">
                            <label><b>Notes</b></label>
                            @Html.TextAreaFor(model => model.Notes, new { @class = "form-control", @rows = 5 })
                            @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm cancelButton" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-sm" style="background-color:#444D8E;color:white;">Save</button>
            </div>
        }
    </div>
</div>
