@model Icarus.Models.tblPayment

<script>
    $(document).ready(function () {
        $('#checkdate').val(new Date('@Model.CheckDate').toLocaleString("sv-SE", {
            year: "numeric",
            month: "2-digit",
            day: "2-digit",
            hour: "2-digit",
            minute: "2-digit",
            second: "2-digit"
        }).replace(" ", "T"));
        $('#paiddate').val(new Date('@Model.PaidDate').toLocaleString("sv-SE", {
            year: "numeric",
            month: "2-digit",
            day: "2-digit",
            hour: "2-digit",
            minute: "2-digit",
            second: "2-digit"
        }).replace(" ", "T"));
        $('#posteddate').val(new Date('@Model.PostedDate').toLocaleString("sv-SE", {
            year: "numeric",
            month: "2-digit",
            day: "2-digit",
            hour: "2-digit",
            minute: "2-digit",
            second: "2-digit"
        }).replace(" ", "T"));


        $(".cancelButton").on("click", function () {
            $(".modal-dialog").find('form').trigger('reset');
        });
        $(".close").on("click", function () {
            $(".modal-dialog").find('form').trigger('reset');
        });

    });
</script>

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="myModalLabel">Edit Payment</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        @using (Html.BeginForm("Edit", "Payments", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="modal-body">
                <div class="form">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-row">
                        <div class="form-group col-sm-4">
                            <label><b>Paid Date</b></label>
                            @Html.EditorFor(model => model.PaidDate, new { htmlAttributes = new { @type = "datetime-local",@id="paiddate", @class = "form-control", Required = true } })
                            @Html.ValidationMessageFor(model => model.PaidDate, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-sm-4">
                            <label><b>ID Admission</b></label>
                            @Html.DropDownListFor(model => model.IDAdmission, (SelectList)ViewBag.residentList, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IDAdmission, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-sm-4">
                            <label><b>Total Paid</b></label>
                            @Html.EditorFor(model => model.TotalPaid, new { htmlAttributes = new { @type = "number", @class = "form-control", Required = true } })
                            @Html.ValidationMessageFor(model => model.TotalPaid, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-4">
                            <label><b>Payment Method</b></label>
                            @Html.DropDownListFor(model => model.IDPaymentMethod, (SelectList)ViewBag.paymentMethod, new { @class = "form-control", Value = Model.IDPaymentMethod, Selected = Model.IDPaymentMethod })
                            @Html.ValidationMessageFor(model => model.IDPaymentMethod, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-sm-4">
                            <label><b>Bank</b></label>
                            @Html.EditorFor(model => model.Bank, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.Bank, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-sm-4">
                            <label><b>Check No</b></label>
                            @Html.EditorFor(model => model.CheckNo, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.CheckNo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-4">
                            <label><b>Check Date</b></label>
                            @Html.EditorFor(model => model.CheckDate, new { htmlAttributes = new { @type = "datetime-local",@id="checkdate", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CheckDate, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-sm-4">
                            <label><b>Verified</b></label>
                            @Html.DropDownListFor(modelItem => modelItem.IsVerified,
                                     (
                                         new[] { new SelectListItem { Text = "Y", Value = "Y" },
                                                new SelectListItem { Text = "N", Value = "N" }
                                     }),
                                     new { @class = "form-control active", Value = Model.IsVerified, Text = Model.IsVerified, Selected = true })
                            @Html.ValidationMessageFor(model => model.IsVerified, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-sm-4">
                            <label><b>Posted Date</b></label>
                            @Html.EditorFor(model => model.PostedDate, new { htmlAttributes = new { @type = "datetime-local",@id="posteddate", @class = "form-control", Required = true } })
                            @Html.ValidationMessageFor(model => model.PostedDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-4">
                            <label><b>Notes</b></label>
                            @Html.TextAreaFor(model => model.Notes, new { @class = "form-control", @rows = 5 })
                            @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm cancelButton" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-sm" style="background-color:#444D8E;color:white;">Save</button>
            </div>
        }
    </div>
</div>
