@model IEnumerable<Icarus.Models.tblPayment>

@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="pl-5 pr-5">
    <div class="d-flex mb-2 mt-2 justify-content-between">
        <input class="form-control col-sm-4" id="myInput" type="search" placeholder="Search" aria-label="Search">
        <div>
            <a class="btn" style="background-color:#4E58A2;color:white;" href="/Payments/Create">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                <span>&nbsp;Add Payment</span>
            </a>
        </div>
    </div>
    <hr>
    <div>
        <table class="table table-striped table-hover table-borderless">
            <thead style="background-color: #6C7AE0; color: white;">
                <tr>
                    <th class="tableheadleft" scope="col">@Html.DisplayNameFor(model => model.PaidDate)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.IDAdmission)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.TotalPaid)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.IDPaymentMethod)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Bank)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.CheckNo)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.CheckDate)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Notes)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.IsVerified)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.PostedDate)</th>
                    <th class="tableheadright text-center" scope="col">Action</th>
                </tr>
            </thead>
            <tbody id="myTable">
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaidDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDAdmission)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalPaid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDPaymentMethod)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bank)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CheckNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CheckDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsVerified)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostedDate)
                    </td>
                    <td>
                        <center>
                            <a class="btn btn-sm btn-warning" href="/Payments/Edit/@item.IDPayment">Edit</a>
                            <a class="btn btn-sm btn-danger" href="/Payments/Delete/@item.IDPayment">Delete</a>
                        </center>

                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<style>
    .tableheadleft {
        border-top-left-radius: 15px !important;
    }

    .tableheadright {
        border-top-right-radius: 15px !important;
    }
</style>
<script>
    $(document).ready(function () {
        document.title = 'Resident Browse';
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
