@model Icarus.Models.tblExpens

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblExpens</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DatePosted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePosted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpenseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpenseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDVendor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDVendor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Particulars)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Particulars)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WithReceipt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WithReceipt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDAccount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EncodedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EncodedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsVerified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsVerified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChargeToCodep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChargeToCodep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VATSales)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VATSales)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VATAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VATAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VATExempt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VATExempt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChargedToCodep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChargedToCodep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDExpense }) |
    @Html.ActionLink("Back to List", "Index")
</p>
