@model Icarus.Models.tblFacilityReport

<script>
    $(document).ready(function () {
        var date = new Date('@Model.ReportDate').toISOString().split('T')[0];
        $("#reportdate").val(date)


        $(".cancelButton").on("click", function () {
            $(".modal-dialog").find('form').trigger('reset');
        });
        $(".close").on("click", function () {
            $(".modal-dialog").find('form').trigger('reset');
        });

    });
</script>

<div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="myModalLabel">Edit Facility Report</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        @using (Html.BeginForm("Edit", "FacilityReports", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.IDFacilityReport)
            @Html.HiddenFor(model => model.PostedBy)
            <div class="modal-body">
                <div class="form">
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label><b>Report Date:</b></label>
                            @Html.TextBoxFor(model => model.ReportDate, new { @id = "reportdate", @type = "date", @class = "form-control", Required = true })
                            @Html.ValidationMessageFor(model => model.ReportDate, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-sm-6">
                            <label><b>Posted By:</b></label>
                            @Html.EditorFor(model => model.PostedBy, new { htmlAttributes = new { @class = "form-control", @Value = Session["Username"], disabled = true } })
                            @Html.ValidationMessageFor(model => model.PostedBy, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label><b>Activity:</b></label>
                            @Html.TextAreaFor(model => model.Activity, new { @class = "form-control", @rows = 5 })
                            @Html.ValidationMessageFor(model => model.Activity, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm cancelButton" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-sm" style="background-color:#444D8E;color:white;">Save</button>
            </div>
        }
    </div>
</div>


