@model Icarus.Models.tblFacilityReport

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Edit </h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IDFacilityReport)
        @Html.HiddenFor(model => model.PostedBy)

        <div class="form-group">
            <div class="row">
                <div class="col">
                    @Html.LabelFor(model => model.ReportDate, htmlAttributes: new { @class = "control-label col-md-2" })

                </div>
                <div class="col">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ReportDate, new { htmlAttributes = new { @type = "datetime-local", @class = "form-control reportdate" } })
                        @Html.ValidationMessageFor(model => model.ReportDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    @Html.LabelFor(model => model.PostedBy, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PostedBy, new { htmlAttributes = new { @class = "form-control", @Value = Session["Username"].ToString() ,disabled = true } })
                        @Html.ValidationMessageFor(model => model.PostedBy, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    @Html.LabelFor(model => model.Activity, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col">
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Activity, new { @class = "form-control", @rows = 5 })
                        @Html.ValidationMessageFor(model => model.Activity, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="row">
                <div class="col text-center">
                    <a class="btn btn-warning btn-sm" href="/FacilityReports">Go back to List</a>
                    <button type="submit" value="Save" class="btn btn-sm btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
    }
</div>
<script>
    $(document).ready(function () {
        document.title = 'Resident Details';
         $('.reportdate').val(new Date('@Model.ReportDate').toLocaleString("sv-SE", {
            year: "numeric",
            month: "2-digit",
            day: "2-digit",
            hour: "2-digit",
            minute: "2-digit",
            second: "2-digit"
        }).replace(" ", "T"));
    });
</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
