@model Icarus.Models.tblStaff

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h2>Edit Staff</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IDStaff)

        <div class="form-group">
            <div class="row">
                <div class="col">
                    @Html.LabelFor(model => model.Lastname, htmlAttributes: new { @class = "control-label" })

                </div>
                <div class="col">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Lastname, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    @Html.LabelFor(model => model.Firstname, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Firstname, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label class="control-label"><b>Contact Number</b></label>
                </div>
                <div class="col">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @type = "number", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    @Html.LabelFor(model => model.DateHired, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DateHired, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DateHired, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    @Html.LabelFor(model => model.DateTerminated, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DateTerminated, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DateTerminated, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @type = "text", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label class="control-label"><b>Username</b></label>
                </div>
                <div class="col">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @type = "text", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label class="control-label"><b>Email</b></label>
                </div>
                <div class="col">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @type = "email", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @type = "password", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label class="control-label"><b>Admin Director Group</b></label>
                </div>
                <div class="col">
                    <div class="col-md-10">
                        @Html.DropDownListFor(modelItem => modelItem.isADG,
                                (
                                    new[] { new SelectListItem { Text = "N", Value = "N" },
                                    new SelectListItem { Text = "Y", Value = "Y" }
                                }),
                                new { @class = "form-control", @Value= Model.isADG, @Text=Model.isADG, Selected=true })
                        @Html.ValidationMessageFor(model => model.isADG, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label class="control-label"><b>Executive Director Group</b></label>
                </div>
                <div class="col">
                    <div class="col-md-10">
                        @Html.DropDownListFor(modelItem => modelItem.isEDG,
                                (
                                    new[] { new SelectListItem { Text = "N", Value = "N" },
                                    new SelectListItem { Text = "Y", Value = "Y" }
                                }),
                                new { @class = "form-control", @Value= Model.isEDG, @Text=Model.isEDG, Selected=true })
                        @Html.ValidationMessageFor(model => model.isEDG, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label class="control-label"><b>Program Group</b></label>
                </div>
                <div class="col">
                    <div class="col-md-10">
                        @Html.DropDownListFor(modelItem => modelItem.isPG,
                                (
                                    new[] { new SelectListItem { Text = "N", Value = "N" },
                                    new SelectListItem { Text = "Y", Value = "Y" }
                                }),
                                new { @class = "form-control", @Value= Model.isPG, @Text=Model.isPG, Selected=true })
                        @Html.ValidationMessageFor(model => model.isPG, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label class="control-label"><b>Admin Assistant Group</b></label>
                </div>
                <div class="col">
                    <div class="col-md-10">
                        @Html.DropDownListFor(modelItem => modelItem.isAAG,
                                (
                                    new[] { new SelectListItem { Text = "N", Value = "N" },
                                    new SelectListItem { Text = "Y", Value = "Y" }
                                }),
                                new { @class = "form-control", @Value= Model.isAAG, @Text=Model.isAAG, Selected=true })
                        @Html.ValidationMessageFor(model => model.isAAG, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label class="control-label"><b>Notes</b></label>

                </div>
                <div class="col">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col text-center">
                    <a class="btn btn-warning btn-sm" href="/Staffs">Go back to List</a>
                    <button type="submit" value="Save" class="btn btn-sm btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
    }
</div>
<script>
    $(document).ready(function () {
        document.title = 'Edit Staff';
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
