@model IEnumerable<Icarus.Models.tblStaff>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .tableheadleft {
        border-top-left-radius: 15px !important;
    }

    .tableheadright {
        border-top-right-radius: 15px !important;
    }

    .staff-holder::-webkit-scrollbar {
        width: 12px; /* width of the entire scrollbar */
        background-color: #dddddd;
        height: 10px;
    }

    .staff-holder::-webkit-scrollbar-track {
        background: #dddddd !important; /* color of the tracking area */
    }

    .staff-holder::-webkit-scrollbar-thumb {
        background: #808080 !important; /* color of the scroll thumb */
        border-radius: 20px; /* roundness of the scroll thumb */
        border: 3px solid grey !important; /* creates padding around scroll thumb */
    }

    .staff-holder {
        height: 72vh;
        overflow-y: auto;
    }

    #staffhead {
        position: sticky;
        top: 0; /* Don't forget this, required for the stickiness */
        background-color: #6C7AE0;
    }
</style>
<script>
    function Delete(id) {
        $("#id").val(id);
        $('#myModal').modal().show();
    }
    function Add() {
        $("#createModal").modal().show();
    }

    function Close() {
        location.reload(false);
    }

    function Details(id) {
        var url = $("#detailsModal").data("url");
        $.get(url + "/" + id, function (data) {
            $("#detailsModal").html(data);
            $("#detailsModal").modal().show();
        });
    }

    function Edit(id) {
        var url = $("#editModal").data("url");
        $.get(url + "/" + id, function (data) {
            $("#editModal").html(data);
            $("#editModal").modal().show();
        });
    }

    $(document).ready(function () {
        document.title = 'Staffs Browse';
        var aag = "@Session["isAAG"]";
        var edg = "@Session["isEDG"]";
        var adg = "@Session["isADG"]";
        var pg = "@Session["isPG"]";
        console.log(pg);
        if (aag != "Y" && edg != "Y" && adg != "Y") {
            $(".action").css("display", "none");
            $(".notes").attr("class", "notes tableheadright");
        }
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

    });
</script>

<div class="pl-5 pr-5">
    <div class="d-flex mb-2 mt-2 justify-content-between">
        <input class="form-control col-sm-4" id="myInput" type="search" placeholder="Search" aria-label="Search">
        @if (Session["isADG"].ToString() == "Y" || Session["isAAG"].ToString() == "Y")
        {
            <div>
                <a class="btn" style="background-color:#4E58A2;color:white;" onclick="Add()">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    <span>&nbsp;Add Staff</span>
                </a>
            </div>
        }
    </div>
    <hr>
    <div class="staff-holder">
        <table class="table table-striped table-hover table-borderless">
            <thead style="background-color: #6C7AE0; color: white;">
                <tr>
                    <th class="tableheadleft" id="staffhead" scope="col">
                        ID
                    </th>
                    <th id="staffhead" scope="col">
                        Last Name
                    </th>
                    <th id="staffhead" scope="col">
                        First Name
                    </th>
                    <th id="staffhead" scope="col">
                        Contact Number
                    </th>
                    <th id="staffhead" scope="col">
                        Date Hired
                    </th>
                    <th id="staffhead" scope="col">
                        Date Terminated
                    </th>
                    <th id="staffhead" scope="col">
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th id="staffhead" scope="col" class="notes">
                        @Html.DisplayNameFor(model => model.Notes)
                    </th>
                    <th id="staffhead" class="tableheadright text-center action" scope="col">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody id="myTable">
                @foreach (var item in Model)
                {
                    var dateHired = item.DateHired == null ? "" : ((DateTime)item.DateHired).ToShortDateString();
                    <tr>
                        <td>
                            <a style="text-decoration:underline;color:blue;cursor:pointer;" ondblclick="Details(@item.IDStaff)">@item.IDStaff</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Lastname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Firstname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactNo)
                        </td>
                        <td>
                            @dateHired
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateTerminated)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Notes)
                        </td>
                        @if (Session["isADG"].ToString() == "Y" || Session["isAAG"].ToString() == "Y")
                        {
                            <td>
                                <center>
                                    <button class="btn btn-sm btn-warning" onclick="Edit(@item.IDStaff)">Edit</button>
                                    @if (Session["isADG"].ToString() == "Y")
                                    {
                                        <button type="button" class="btn btn-sm btn-danger delete" value="@item.IDStaff" id="delete" onclick="Delete(@item.IDStaff)">Delete</button>

                                    }
                                </center>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-url="@Url.Action("DetailsPartial","Staffs")">
    </div>
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-url="@Url.Action("EditPartial","Staffs")">
    </div>
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        @Html.Partial("_CreatePartial", ViewData["Staff"])
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this Staff?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                    @using (Html.BeginForm("Delete", "Staffs", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input type="number" class="id" id="id" style="display:none;" name="id" value="" />
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

