@model Icarus.Models.tblResidentActivity

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Create Resident Activity</h2>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label><b>Log Date</b></label>
                    @Html.TextBoxFor(model => model.LogDate, new { @class = "form-control", @type="datetime-local" })
                    @Html.ValidationMessageFor(model => model.LogDate, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-sm-6">
                    <label><b>Admission</b></label>
                    @Html.DropDownListFor(model => model.IDAdmission, (SelectList)ViewBag.residentList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IDAdmission, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label><b>Position</b></label>
                    @Html.DropDownListFor(model => model.Position, (SelectList)ViewBag.ranks, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-sm-6">
                    <label><b>Posted by:</b></label>
                    @Html.EditorFor(model => model.PostedBy, new { htmlAttributes = new { @class = "form-control generatedBy", Value = ViewBag.generatedBy, disabled = true } })
                    @Html.ValidationMessageFor(model => model.PostedBy, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label><b>Activity</b></label>
                    @Html.TextAreaFor(model => model.Activity, new { @class = "form-control", @rows = 5 })
                    @Html.ValidationMessageFor(model => model.Activity, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-12">
                    <a type="button" class="btn btn-sm btn-warning" href="/ResidentActivities">Go Back</a>
                    <button type="submit" value="Create" class="btn btn-primary btn-sm">Create</button>
                </div>
            </div>
    </div>
    }
</div>