@model IEnumerable<Icarus.Models.tblResidentActivity>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="pl-5 pr-5">
    <div class="d-flex mb-2 mt-2 justify-content-between">
        <input class="form-control col-sm-4" id="myInput" type="search" placeholder="Search" aria-label="Search">
        <div>
            <a class="btn" style="background-color:#4E58A2;color:white;" href="/ResidentActivities/Create">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                <span>&nbsp;Add Resident Activity</span>
            </a>
        </div>
    </div>
    <hr>
    <div>
        <table class="table table-striped table-hover table-borderless">
            <thead style="background-color: #6C7AE0; color: white;">
                <tr>
                    <th class="tableheadleft" scope="col">Log Date</th>
                    <th scope="col">Resident</th>
                    <th scope="col">Position</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Activity)</th>
                    <th scope="col">Posted by</th>
                    <th class="tableheadright text-center" scope="col">Action</th>
                </tr>
            </thead>
            <tbody id="myTable">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LogDate)
                        </td>
                        <td>
                            @foreach (var res in ViewBag.ResidentLists) {
                                if (item.IDAdmission == res.IDResident) {
                                    <p>@res.Firstname @res.Nickname @res.Lastname</p>
                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Position)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Activity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PostedBy)
                        </td>
                        <td>
                            <center>
                                <a class="btn btn-sm btn-warning" href="/ResidentActivities/Edit/@item.IDResidentActivityLog">Edit</a>
                                <a class="btn btn-sm btn-danger" href="/ResidentActivities/Delete/@item.IDResidentActivityLog">Delete</a>
                            </center>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<style>
    .tableheadleft {
        border-top-left-radius: 15px !important;
    }

    .tableheadright {
        border-top-right-radius: 15px !important;
    }
</style>
<script>
    $(document).ready(function () {
        document.title = 'Resident Activity';
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
