@model Icarus.Models.tblExpensesChartOfAccount

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Are you sure you want to delete chart of account?</h2>
    <div>
        <hr />
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>
                        <b>
                            @Html.DisplayNameFor(model => model.AccountCode)
                        </b>
                    </p>
                </div>
                <div class="col">
                    <p>
                        @Html.DisplayFor(model => model.AccountCode)
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        <b>
                            @Html.DisplayNameFor(model => model.Account)
                        </b>
                    </p>
                </div>
                <div class="col">
                    <p>
                        @Html.DisplayFor(model => model.Account)
                    </p>
                </div>
            </div>


            <div class="row">
                <div class="col  mt-2 text-center">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-actions">
                            <a class="btn btn-sm btn-warning" href="/ChartOfAccounts">Go back to lists</a>
                            <input class="btn btn-sm btn-danger" type="submit" value="Delete" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        document.title = 'Delete Chart Of Accounts';
    });
</script>