@model Icarus.Models.tblAssertion

@{
    ViewBag.Title = "Admission Browse";
}


<div class="col-sm-12 pl-3 pr-3">
    <div class="d-flex mb-2 mt-2 justify-content-between">
        @if (ViewBag.assertionLists == false)
        {
            <p>No Data to search.</p>
        }
        else
        {
            <input class="form-control col-sm-4" id="mySearch" type="search" placeholder="Search" aria-label="Search">
            <div>
                <button class="btn" style="background-color:#4E58A2;color:white;" data-toggle="modal" data-target="#assertionModal">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    <span>&nbsp;Add Assertion</span>
                </button>
            </div>
        }
    </div>
    <hr>
    @if (ViewBag.assertionLists == false)
    {
        <div>No assertion records yet.</div>
    }
    else
    {
        <div class="scroll">
            <table class="table table-striped table-hover table-borderless assertionTable">
                <thead style="background-color: #6C7AE0; color: white;">
                    <tr>
                        <th class="tableheadleft" scope="col">
                            ID CTC
                        </th>
                        <th scope="col">
                            Posted Date
                        </th>
                        <th scope="col">
                            Description
                        </th>
                        <th scope="col">
                            Category
                        </th>
                        <th scope="col">
                            Quantity
                        </th>
                        <th scope="col">
                            Price
                        </th>
                        <th scope="col">
                            MarkUp %
                        </th>
                        <th scope="col">
                            Markup Value
                        </th>
                        <th scope="col">
                            MarkUp Price
                        </th>
                        <th scope="col">
                            Subtotal
                        </th>
                        <th class="tableheadright" scope="col">
                            Notes
                        </th>
                    </tr>
                </thead>
                <tbody id="thisTable">
                    @foreach (var item in ViewBag.AssertionsLists)
                    {
                        <tr>
                            <td>@item.IDChargeToCodep</td>
                            <td>@item.PostedDate</td>
                            <td>@item.Description</td>
                            <td>
                                @foreach (var category in ViewBag.AssertionCategories)
                                {
                                    if (item.IDAssertionCategory == category.IDAssertionCategory)
                                    {
                                        @category.Category
                                    }
                                }
                            </td>
                            <td>@item.Qty</td>
                            <td>@item.Price</td>
                            <td>@item.Markup</td>
                            <td>@item.MarkupValue</td>                            
                            <td>@item.SubTotal</td>
                            <td>@item.SubTotal</td>
                            <td>@item.Notes</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    <div class="modal fade" id="assertionModal" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="gridSystemModalLabel">Add Assertion</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                @using (Html.BeginForm("CreateAssertion", "Admissions", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.IDAdmission)
                    <form>
                        <div class="modal-body">

                            <div class="form-row">
                                <div class="form-group col-sm-4">
                                    @Html.LabelFor(model => model.IDAdmission)
                                    @Html.EditorFor(model => model.IDAdmission, new { htmlAttributes = new { @class = "form-control", Value = Model.IDAdmission, disabled = true } })
                                </div>
                                <div class="form-group col-sm-4">
                                    <label><b>Assertion Date</b></label>
                                    @Html.TextBoxFor(model => model.AssertionDate, new { @type = "datetime-local", @class = "form-control datetimepicker" })
                                </div>
                                <div class="form-group col-sm-4">
                                    @Html.LabelFor(model => model.Qty)
                                    @Html.EditorFor(model => model.Qty, new { htmlAttributes = new { @type = "number", @class = "form-control qty" } })
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-4">
                                    <label><b>Assertion Category</b></label>
                                    @Html.DropDownListFor(model => model.IDAssertionCategory, ViewBag.assertions as SelectList, new { @class = "form-control" })
                                </div>
                                <div class="form-group col-sm-4">
                                    @Html.LabelFor(model => model.Price)
                                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @type = "number", @class = "form-control price" } })
                                </div>
                                <div class="form-group col-sm-4">
                                    <label><b>Markup %</b></label>
                                    @Html.EditorFor(model => model.Markup, new { htmlAttributes = new { @type = "number", @class = "form-control markupPercent", Value = 20 } })
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-4">
                                    <label><b>Markup Value</b></label>
                                    @Html.EditorFor(model => model.MarkupValue, new { htmlAttributes = new { @type = "number", @class = "form-control markUpValue" } })
                                </div>
                                <div class="form-group col-sm-4">
                                    @Html.LabelFor(model => model.SubTotal)
                                    @Html.EditorFor(model => model.SubTotal, new { htmlAttributes = new { @type = "number", @class = "form-control subTotal" } })

                                </div>
                                <div class="form-group col-sm-4">
                                    <label><b>Posted Date</b></label>
                                    @Html.TextBoxFor(model => model.PostedDate, new { @type = "datetime-local", @class = "form-control datetimepicker" })
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-4">
                                    @Html.LabelFor(model => model.Description)
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="form-group col-sm-4">
                                    @Html.LabelFor(model => model.Notes)
                                    @Html.TextAreaFor(model => model.Notes, new { @class = "form-control", @rows = 5 })
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                }

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<style>
    .tableheadleft {
        border-top-left-radius: 15px !important;
    }

    .tableheadright {
        border-top-right-radius: 15px !important;
    }
    .assertionTable::-webkit-scrollbar {
        width: 12px; /* width of the entire scrollbar */
        background-color: #dddddd;
        height: 10px;
    }

    .assertionTable::-webkit-scrollbar-track {
        background: #dddddd !important; /* color of the tracking area */
    }

    .assertionTable::-webkit-scrollbar-thumb {
        background: #808080 !important; /* color of the scroll thumb */
        border-radius: 20px; /* roundness of the scroll thumb */
        border: 3px solid grey !important; /* creates padding around scroll thumb */
    }
    .assertionTable {
        display:block;
        overflow-x: auto;
        white-space: nowrap;
    }
    
</style>
<script>
    $(document).ready(function () {
        $("#mySearch").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#thisTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        $(".markupPercent").on("keyup", function () {
            var price = $(".price").val();
            var qty = $(".qty").val();
            var totalPrice = price * qty;
            var markUpPercent = $(this).val();
            if (markUpPercent != 0) {
                var markUpValue = ((totalPrice * markUpPercent) / 100);
                var subTotal = totalPrice + markUpValue;
                $(".markUpValue").val(markUpValue);
                $(".subTotal").val(subTotal);
            }
            else {
                console.log("Reading")
                $(".markUpValue").val(0);
                $(".subTotal").val(totalPrice);
            }
            
        })

        $(".price").on("keyup", function () {
            var price = $(this).val();
            var qty = $(".qty").val();
            var totalPrice = price * qty;
            var markUpPercent = $(".markupPercent").val();
            if (markUpPercent != 0) {
                var markUpValue = ((totalPrice * markUpPercent) / 100);
                var subTotal = totalPrice + markUpValue;
                $(".markUpValue").val(markUpValue);
                $(".subTotal").val(subTotal);
            }
            else {
                $(".markUpValue").val(0);
                $(".subTotal").val(totalPrice);
            }
        });
        $(".qty").on("keyup", function () {
            var price = $(".price").val();
            var qty = $(this).val();
            var totalPrice = price * qty;
            var markUpPercent = $(".markupPercent").val();
            if (markUpPercent != 0) {
                var markUpValue = ((totalPrice * markUpPercent) / 100);
                var subTotal = totalPrice + markUpValue;
                $(".markUpValue").val(markUpValue);
                $(".subTotal").val(subTotal);
            }
            else {
                $(".markUpValue").val(0);
                $(".subTotal").val(totalPrice);
            }
        });
    });
</script>

