@model Icarus.Models.tblAdmissionAttachment

@{
    ViewBag.Title = "Admission Browse";
}

<style>
    .assertionTable {
        table-layout: fixed;
        width: 100%;
    }

    .tableheadleft {
        border-top-left-radius: 15px !important;
    }

    .tableheadright {
        border-top-right-radius: 15px !important;
    }

    input[type="file"] {
        position: absolute;
        z-index: -1;
        top: 10px;
        left: 8px;
        font-size: 17px;
        color: #b8b8b8;
    }

    .button-wrap {
        position: relative;
    }

    .button {
        display: inline-block;
        cursor: pointer;
        padding: 8px 15px;
        border-radius: 5px;
        background-color: #6C7AE0;
        font-size: 12px;
        font-weight: bold;
        color: #fff;
    }
</style>
<script>
    function attachmentDelete(id) {
        $("#selectedToDeleteAttachmentID").val(id);
        $('#attachmentModalDelete').modal().show();
    }

    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        $('input[type=file]').change(function () {
            var t = $(this).val();
            var labelText = 'File : ' + t.substr(12, t.length);
            $(this).prev('label').text(labelText);
            $('.fileName').val(t.substr(12, t.length));
        })

        $(".files").on("change", ".file-upload-field", function () {
            $(this).parent(".file-upload-wrapper").attr("data-text", $(this).val().replace(/.*(\/|\\)/, ''));
        });
    });
</script>

<div class="col-sm-12 pl-3 pr-3">
    <div class="d-flex mb-2 mt-2 justify-content-between">
        @if (ViewBag.attachmentList == false)
        {
            <p>No Attachment to search yet.</p>
        }
        else
        {
            <input class="form-control col-sm-4" id="myInput" type="search" style="visibility:hidden;" placeholder="Search" aria-label="Search">
        }
        @if (Session["isADG"].ToString() == "Y" || Session["isEDG"].ToString() == "Y" || Session["isAAG"].ToString() == "Y")
        {
            <div>
                <button class="btn" style="background-color:#4E58A2;color:white;" data-toggle="modal" data-target="#attachmentModal">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    <span>&nbsp;Add Attachments</span>
                </button>
            </div>
        }
    </div>
    <hr>
    @if (ViewBag.attachmentList == false)
    {
        <p>No Attachment records yet.</p>
    }
    else
    {
        <table class="table table-striped table-hover table-borderless assertionTable">
            <thead style="background-color: #6C7AE0; color: white;">
                <tr>
                    <th class="tableheadleft col-sm-3" scope="col">
                        ID
                    </th>
                    <th scope="col" class="col-sm-3">
                        Description
                    </th>
                    <th scope="col" class="col-sm-3">
                        Filename
                    </th>

                    @if (Session["isADG"].ToString() == "Y")
                    {
                        <th class="col-sm-3" scope="col">
                            Attachment Type
                        </th>
                        <th class="tableheadright col-sm-3" scope="col">
                            Action
                        </th>
                    }
                    else
                    {
                        <th class="tableheadright col-sm-3" scope="col">
                            Attachment Type
                        </th>
                    }

                </tr>
            </thead>
            <tbody id="myTable">
                @using (Html.BeginForm("", "Admissions", FormMethod.Get))
                {
                    foreach (var item in ViewBag.attachmentLists)
                    {
                        <tr>
                            <td><a href="~/Content/uploads/@item.Filename" target="_blank">@item.IDAdmAttachment</a></td>
                            <td>@item.Description</td>
                            <td>@item.Filename</td>
                            <td>
                                @foreach (var type in ViewBag.attachmentTypes)
                                {
                                    if (item.IDAttachmentType == type.IDAttachmentType)
                                    {
                                        @type.AttachmentType
                                    }
                                }
                            </td>
                            @if (Session["isADG"].ToString() == "Y")
                            {
                                <td><a class="btn btn-sm btn-danger" onclick="attachmentDelete(@item.IDAdmAttachment)">Delete</a></td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
    <div class="modal fade" id="attachmentModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" ">
                    <h4 class="modal-title">Add Attachment</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                @using (Html.BeginForm("FileAttachment", "Admissions", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.IDAdmission)
                    <form>
                        <div class="modal-body">
                            <div class="form-row">
                                <div class="form-group col-sm-4">
                                    @Html.LabelFor(model => model.IDAdmission)
                                    @Html.EditorFor(model => model.IDAdmission, new { htmlAttributes = new { @class = "form-control", Value = Model.IDAdmission, disabled = true } })
                                </div>
                                <div class="form-group col-sm-4 files">
                                    <label><b>Uploaded File</b></label>
                                    <div class="button-wrap">
                                        <label class="button" for="upload">Upload File</label>
                                        <input id="upload" name="file" type="file" required>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label><b>Attachment Type</b></label>
                                    @Html.DropDownListFor(model => model.IDAttachmentType, ViewBag.attachmentType as SelectList, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-4">
                                    <label><b>File Name</b></label>
                                    @Html.EditorFor(model => model.Filename, new { htmlAttributes = new { @class = "form-control fileName", autocomplete="off" } })
                                </div>
                                <div class="form-group col-sm-4">
                                    @Html.LabelFor(model => model.Description)
                                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @rows = 5 })
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <input type="submit" value="upload" class="btn btn-primary">
                        </div>
                    </form>
                }


            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade" id="attachmentModalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this Attachment?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                    @using (Html.BeginForm("DeleteAttachment", "Admissions", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input type="number" class="id" id="selectedToDeleteAttachmentID" style="display:none;" name="id" value="" />
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
