@model Icarus.Models.tblAdmission

@{
    ViewBag.Title = "Admission Browse";
}

<div class="col-sm-12 pt-3 container-fluid" style="border-right: 2px solid grey;height:auto;">
    @using (Html.BeginForm("Edit", "Admissions", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
    <div class="form p-0 m-0">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IDAdmission)
        @Html.HiddenFor(model => model.IDResident)
        @Html.HiddenFor(model => model.TotalPaid)
        @Html.HiddenFor(model => model.TotalBilling)


        <div class="form-group">
            <div class="row">
                <div class="col col-sm-4 my-auto">
                    <p class="my-auto">
                        <b>
                            ID Resident
                        </b>
                    </p>
                </div>
                <div class="col col-sm-8">
                    <input class="form-control" value="@ViewBag.residentName" disabled />
                    <!--@@Html.EditorFor(model => model.adm.IDResident, new { htmlAttributes = new { @@class = "form-control", @@Value=Model.adm.IDResident, @@Text=ViewBag.resident, disabled=true } })-->
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col col-sm-4 my-auto">
                    <p class="my-auto">
                        <b>
                            Admission Date
                        </b>
                    </p>
                </div>
                <div class="col col-sm-8">
                    @Html.EditorFor(model => model.AdmissionDate, new { htmlAttributes = new { @id = "admissiondate", @type = "datetime-local", @class = "form-control" } })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col col-sm-4 my-auto">
                    <p class="my-auto">
                        <b>
                            Termination Date
                        </b>
                    </p>
                </div>
                <div class="col col-sm-8">
                    @Html.EditorFor(model => model.TerminationDate, new { htmlAttributes = new { @id = "termdate", @type = "datetime-local", @class = "form-control" } })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col col-sm-4 my-auto">
                    <p class="my-auto">
                        <b>
                            Active
                        </b>
                    </p>
                </div>
                <div class="col col-sm-8">
                    @Html.DropDownListFor(modelItem => modelItem.IsActive,
                        (
                            new[] { new SelectListItem { Text = "Y", Value = "Y" },
                            new SelectListItem { Text = "N", Value = "N" }
                        }),
                        new { @class = "form-control active", Value = Model.IsActive, Text = Model.IsActive, Selected = true })
                </div>
            </div>
        </div>
        <div class="p-1"></div>
        <div class="form-group">
            <div class="row">
                <div class="col col-sm-4 my-auto">
                    <p class="my-auto">
                        <b>
                            Stop T.F Fee?
                        </b>
                    </p>
                </div>
                <div class="col col-sm-8">
                    @Html.DropDownListFor(modelItem => modelItem.StopTFBilling,
                        (
                            new[] { new SelectListItem { Text = "Y", Value = "Y" },
                            new SelectListItem { Text = "N", Value = "N" }
                        }),
                        new { @class = "form-control stopTF", Value= Model.StopTFBilling, Text = Model.StopTFBilling, Selected = true })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col col-sm-4 my-auto">
                    <p class="my-auto">
                        <b>
                            Phase
                        </b>
                    </p>
                </div>
                <div class="col col-sm-8">
                    @Html.DropDownListFor(modelItem => modelItem.Phase,
                        (
                            new[] { new SelectListItem { Text = "N", Value = "N" },
                            new SelectListItem { Text = "Senior", Value = "Senior" },
                            new SelectListItem { Text = "Intensive", Value = "Intensive" },
                            new SelectListItem { Text = "Re-Entry", Value = "Re-Entry"},
                            new SelectListItem { Text = "Graduate", Value = "Graduate"},
                            new SelectListItem { Text = "Pullout", Value = "Pullout"},
                        }),
                        new { @class = "form-control phase", Value = Model.Phase, Selected = true, Text = Model.Phase }
                    )
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col col-sm-4 my-auto">
                    <p class="my-auto">
                        <b>
                            Rank
                        </b>
                    </p>
                </div>
                <div class="col col-sm-8">
                    @Html.DropDownListFor(model => model.IDRank, ViewBag.ranks as SelectList, new { @class = "form-control", Value = Model.IDRank, Selected = Model.IDRank })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col col-sm-4 my-auto">
                    <p class="my-auto">
                        <b>
                            Notes
                        </b>
                    </p>
                </div>
                <div class="col col-sm-8">
                    @Html.TextAreaFor(
                        model => model.Notes,
                        new { @class = "form-control notes", Value = Model.Notes }
                    )
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col col-sm-4 my-auto">
                    <p class="my-auto">
                        <b>
                            Treatment Fee
                        </b>
                    </p>
                </div>
                <div class="col col-sm-8">
                    @Html.EditorFor(model => model.TreatmentFee, new { htmlAttributes = new { @type = "number", @class = "form-control", @value = Model.TreatmentFee } })

                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col col-sm-4 my-auto">
                    <p class="my-auto">
                        <b>
                            Total Billing
                        </b>
                    </p>
                </div>
                <div class="col col-sm-8">
                    @Html.EditorFor(model => model.TotalBilling, new { htmlAttributes = new { @type = "number", @class = "form-control", @value = Model.TotalBilling, disabled = true } })

                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col col-sm-4 my-auto">
                    <p class="my-auto">
                        <b>
                            Total Paid
                        </b>
                    </p>
                </div>
                <div class="col col-sm-8">
                    @Html.EditorFor(model => model.TotalPaid, new { htmlAttributes = new { @type = "number", @class = "form-control", @value = Model.TotalPaid, disabled = true } })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col col-sm-4 my-auto">
                    <p class="my-auto">
                        <b>
                            Overall Balance
                        </b>
                    </p>
                </div>
                <div class="col col-sm-8">
                    @Html.EditorFor(model => model.OverallBalance, new { htmlAttributes = new { @type = "number", @class = "form-control", @value = Model.OverallBalance, disabled = true } })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row pull-right mb-3">
                <a class="btn btn-sm btn-warning mr-2" href="/Admissions">Go back</a>
                <input class="btn btn-sm btn-primary mr-4" type="submit" value="Update" />
            </div>
        </div>

    </div>
    }
</div>
<script>
    $(document).ready(function () {
        $('#admissiondate').val(new Date('@Model.AdmissionDate').toLocaleString("sv-SE", {
            year: "numeric",
            month: "2-digit",
            day: "2-digit",
            hour: "2-digit",
            minute: "2-digit",
            second: "2-digit"
        }).replace(" ", "T"));
        $('#termdate').val(new Date('@Model.TerminationDate').toLocaleString("sv-SE", {
            year: "numeric",
            month: "2-digit",
            day: "2-digit",
            hour: "2-digit",
            minute: "2-digit",
            second: "2-digit"
        }).replace(" ", "T"));
    });

</script>

<style>
    .vertical-align {
        padding: 0;
    }
</style>
