@model IEnumerable<Icarus.Models.tblPayment>

@{
    ViewBag.Title = "Admission Browse";
}

<div class="col-sm-12 pl-3 pr-3">
    <div class="d-flex mb-2 mt-2 justify-content-between">
        @if (!Model.Any() || Model == null)
        {
            <p>No data to search.</p>
        }
        else
        {
            <input class="form-control col-sm-4" id="thisInput" type="search" placeholder="Search" aria-label="Search">
        }
        <div style="display:none;">
            <a class="btn" style="background-color:#4E58A2;color:white;" data-toggle="modal" data-target="#myModal">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                <span>&nbsp;Add Payment</span>
            </a>
        </div>
    </div>
    <hr>
    @if (!Model.Any() || Model == null)
    {
        <div>No Payment Records yet</div>

    }
    else
    {
        <table class="table table-striped table-hover table-borderless assertionTable">
            <thead style="background-color: #6C7AE0; color: white;">
                <tr>
                    <th class="tableheadleft" scope="col">
                        ID Payment
                    </th>
                    <th scope="col">
                        Paid Date
                    </th>
                    <th scope="col">
                        Paid Amount
                    </th>
                    <th scope="col">
                        Payment Method
                    </th>
                    <th scope="col">
                        Bank
                    </th>
                    <th scope="col">
                        Notes
                    </th>
                    <th scope="col">
                        Check Number
                    </th>
                    <th scope="col">
                        Check Date
                    </th>
                    <th class="tableheadright" scope="col">
                        Verified
                    </th>
                </tr>
            </thead>
            <tbody id="tableBody">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.IDPayment</td>
                        <td>@item.PaidDate</td>
                        <td>@item.TotalPaid</td>
                        <td>
                            @foreach (var method in ViewBag.PaymentMethod)
                            {
                                if (method.IDPaymentMethod == item.IDPaymentMethod) {
                                    @method.PaymentMethod
                                }
                            }
                        </td>
                        <td>@item.Bank</td>
                        <td>@item.Notes</td>
                        <td>@item.CheckNo</td>
                        <td>@item.CheckDate</td>
                        <td>@item.IsVerified</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<style>
    .assertionTable {
        width: 100%;
    }
    .tableheadleft {
        border-top-left-radius: 15px !important;
    }

    .tableheadright {
        border-top-right-radius: 15px !important;
    }
</style>
<script>
    $(document).ready(function () {
        $("#thisInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#tableBody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

