@model IEnumerable<Icarus.Models.tblPayment>

@{
    ViewBag.Title = "Admission Browse";
}

<style>
    .tableheadleft {
        border-top-left-radius: 15px !important;
    }

    .tableheadright {
        border-top-right-radius: 15px !important;
    }

    .payment-holder::-webkit-scrollbar {
        width: 5px; /* width of the entire scrollbar */
        background-color: #dddddd;
        height: 10px;
    }

    .payment-holder::-webkit-scrollbar-track {
        background: #dddddd !important; /* color of the tracking area */
    }

    .payment-holder::-webkit-scrollbar-thumb {
        background: #808080 !important; /* color of the scroll thumb */
        border-radius: 20px; /* roundness of the scroll thumb */
        border: 3px solid grey !important; /* creates padding around scroll thumb */
    }

    #paymenthead {
        font-size: 15px;
    }

    th {
        position: sticky;
        top: 0; /* Don't forget this, required for the stickiness */
        background-color: #6C7AE0;
        height: 30px;
    }

    td, th {
        min-width: 200px;
        border: dashed 1px lightblue;
        overflow: hidden;
        text-overflow: ellipsis;
        /*max-width: 100px;*/
    }

    td {
        height: 50px;
    }

    .payment-holder {
        overflow-y: auto;
        height: 64vh;
    }
</style>
<script>
    $(document).ready(function () {
        $("#thisInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#tableBody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<div class="col-sm-12 pl-3 pr-3">
    <div class="d-flex mb-2 mt-2 justify-content-between">
        @if (!Model.Any() || Model == null)
        {
            <p>No data to search.</p>
        }
        else
        {
            <input class="form-control col-sm-4" id="thisInput" type="search" placeholder="Search" aria-label="Search">
        }
        <div style="display:none;">
            <a class="btn" style="background-color:#4E58A2;color:white;" data-toggle="modal" data-target="#myModal">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                <span>&nbsp;Add Payment</span>
            </a>
        </div>
    </div>
    <hr>
    @if (!Model.Any() || Model == null)
    {
        <div>No Payment Records yet</div>

    }
    else
    {
        <div class="payment-holder">
            <table class="table table-striped table-hover table-borderless">
                <thead style="background-color: #6C7AE0; color: white;">
                    <tr>
                        <th id="paymenthead" class="tableheadleft" width="5%" scope="col">
                            ID
                        </th>
                        <th id="paymenthead" scope="col">
                            Paid Date
                        </th>
                        <th id="paymenthead" scope="col">
                            Paid Amount
                        </th>
                        <th id="paymenthead" scope="col">
                            Payment Method
                        </th>
                        <th id="paymenthead" scope="col">
                            Bank
                        </th>
                        <th id="paymenthead" scope="col">
                            Notes
                        </th>
                        <th id="paymenthead" scope="col">
                            Check Number
                        </th>
                        <th id="paymenthead" scope="col">
                            Check Date
                        </th>
                        <th id="paymenthead" class="tableheadright" scope="col">
                            Verified
                        </th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td id="tdpay">@item.IDPayment</td>
                            <td id="tdpay">@item.PaidDate.ToString("MM/dd/yyyy")</td>
                            <td id="tdpay">@item.TotalPaid.ToString("0.00")</td>
                            <td id="tdpay">
                                @foreach (var method in ViewBag.PaymentMethod)
                                {
                                    if (method.IDPaymentMethod == item.IDPaymentMethod)
                                    {
                                        @method.PaymentMethod
                                    }
                                }
                            </td>
                            <td id="tdpay">@item.Bank</td>
                            <td id="tdpay">@item.Notes</td>
                            <td id="tdpay">@item.CheckNo</td>
                            <td id="tdpay">@item.CheckDate</td>
                            <td id="tdpay">@item.IsVerified</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>