@model Icarus.Models.tblAdmissionVitalSign

@{
    ViewBag.Title = "Admission Browse";
}


<div class="col-sm-12 pl-3 pr-3">
    <div class="d-flex mb-2 mt-2 justify-content-between">
        @if (ViewBag.vitalSignsLists == false)
        {
            <div>No Vital Signs to search yet.</div>
        }
        else
        {
            <input class="form-control col-sm-4" id="vitalInput" type="search" placeholder="Search" aria-label="Search">
        }
        <div>
            <button class="btn" style="background-color:#4E58A2;color:white;" data-toggle="modal" data-target="#modalVitalSigns">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                <span>&nbsp;Add Vital Signs</span>
            </button>
        </div>
    </div>
    <hr>
    @if ( ViewBag.vitalSignsLists == false)
    {
        <div>No Vital Signs record yet.</div>
    }
    else
    {
        <table class="table table-striped table-hover table-borderless assertionTable">
            <thead style="background-color: #6C7AE0; color: white;">
                <tr>
                    <th class="tableheadleft col-sm-3" scope="col">
                        ID
                    </th>
                    <th scope="col">
                        Billing Date
                    </th>
                    <th scope="col">
                        Blood Pressure
                    </th>
                    <th scope="col">
                        Temperature
                    </th>
                    <th scope="col">
                        Pulse Rate
                    </th>
                    <th class="tableheadright" scope="col">
                        Weight
                    </th>
                </tr>
            </thead>
            <tbody id="vitalTable">
                @foreach (var item in ViewBag.vitalSigns)
                {
                    <tr>
                        <td>@item.IDVitalSign</td>
                        <td>@item.Performed</td>
                        <td>@item.BloodPressure</td>
                        <td>@item.Temperature</td>
                        <td>@item.PulseRate</td>
                        <td>@item.Weight</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <div class="modal fade" id="modalVitalSigns" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" ">
                    <h4 class="modal-title">Add Vital Signs</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                @using (Html.BeginForm("CreateVitalSigns","Admissions", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.IDAdmission)
                <form>
                    <div class="modal-body">

                        <div class="form-row">
                            <div class="form-group col-sm-4">
                                @Html.LabelFor(model => model.IDAdmission)
                                @Html.EditorFor(model => model.IDAdmission, new { htmlAttributes = new { @class = "form-control", Value = Model.IDAdmission, disabled = true } })
                            </div>
                            <div class="form-group col-sm-4">
                                @Html.LabelFor(model => model.Performed)
                                @Html.TextBoxFor(model => model.Performed, new { @type = "datetime-local", @class = "form-control datetimepicker" })
                            </div>
                            <div class="form-group col-sm-4">
                                @Html.LabelFor(model => model.BloodPressure)
                                @Html.EditorFor(model => model.BloodPressure, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-4">
                                @Html.LabelFor(model => model.Temperature)
                                @Html.EditorFor(model => model.Temperature, new { htmlAttributes = new { @class = "form-control datetimepicker" } })
                            </div>
                            <div class="form-group col-sm-4">
                                @Html.LabelFor(model => model.PulseRate)
                                @Html.TextBoxFor(model => model.PulseRate, new { @class = "form-control datetimepicker" })
                            </div>
                            <div class="form-group col-sm-4">
                                @Html.LabelFor(model => model.Weight)
                                @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
                }
                
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<style>
    .assertionTable {
        table-layout: fixed;
        width: 100%;
    }

    .tableheadleft {
        border-top-left-radius: 15px !important;
    }

    .tableheadright {
        border-top-right-radius: 15px !important;
    }
</style>
<script>
    $(document).ready(function () {
        $("#vitalInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#vitalTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>


