@model Icarus.Models.tblAdmissionVitalSign

@{
    ViewBag.Title = "Admission Browse";
}

<style>
    .tableheadleft {
        border-top-left-radius: 15px !important;
    }

    .tableheadright {
        border-top-right-radius: 15px !important;
    }

    #vitalsignhead {
        position: sticky;
        top: 0; /* Don't forget this, required for the stickiness */
        background-color: #6C7AE0;
    }

    .vitalsign-holder::-webkit-scrollbar {
        width: 12px; /* width of the entire scrollbar */
        background-color: #dddddd;
        height: 10px;
    }

    .vitalsign-holder::-webkit-scrollbar-track {
        background: #dddddd !important; /* color of the tracking area */
    }

    .vitalsign-holder::-webkit-scrollbar-thumb {
        background: #808080 !important; /* color of the scroll thumb */
        border-radius: 20px; /* roundness of the scroll thumb */
        border: 3px solid grey !important; /* creates padding around scroll thumb */
    }

    .vitalsign-holder {
        height: 64vh;
        overflow-y: auto;
    }
</style>
<script>
    function DeleteVitalSign(id) {
        $("#idVitalSign").val(id);
        $('#deleteVitalSignModal').modal().show();
    }

    function EditVitalSign(id) {
        var url = $("#editVitalSignModal").data("url");
        $.get(url + "/" + id, function (data) {
            $("#editVitalSignModal").html(data);
            $("#editVitalSignModal").modal().show();
        });
    }

    $(document).ready(function () {
        $("#vitalInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#vitalTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<div class="col-sm-12 pl-3 pr-3">
    <div class="d-flex mb-2 mt-2 justify-content-between">
        @if (ViewBag.vitalSignsLists == false)
        {
            <div>No Vital Signs to search yet.</div>
        }
        else
        {
            <input class="form-control col-sm-4" id="vitalInput" type="search" placeholder="Search" aria-label="Search">
        }
        @if (Session["isADG"].ToString() == "Y" || Session["isEDG"].ToString() == "Y" || Session["isAAG"].ToString() == "Y")
        {
            <div>
                <button class="btn" style="background-color:#4E58A2;color:white;" data-toggle="modal" data-target="#modalVitalSigns">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    <span>&nbsp;Add Vital Signs</span>
                </button>
            </div>
        }
    </div>
    <hr>
    @if (ViewBag.vitalSignsLists == false)
    {
        <div>No Vital Signs record yet.</div>
    }
    else
    {
        <div class="vitalsign-holder">
            <table class="table table-striped table-hover table-borderless">
                <thead style="background-color: #6C7AE0; color: white;">
                    <tr>
                        <th id="vitalsignhead" class="tableheadleft" scope="col">
                            ID
                        </th>
                        <th id="vitalsignhead" scope="col">
                            Performed
                        </th>
                        <th id="vitalsignhead" scope="col">
                            Blood Pressure
                        </th>
                        <th id="vitalsignhead" scope="col">
                            Temperature
                        </th>
                        <th id="vitalsignhead" scope="col">
                            Pulse Rate
                        </th>
                        @if (Session["isADG"].ToString() == "Y" || Session["isEDG"].ToString() == "Y" || Session["isAAG"].ToString() == "Y")
                        {
                            <th id="vitalsignhead" scope="col">
                                Weight
                            </th>
                            <th id="vitalsignhead" class="tableheadright" scope="col">
                                Action
                            </th>
                        }
                        else
                        {
                            <th id="vitalsignhead" class="tableheadright" scope="col" width="5%">
                                Weight
                            </th>
                        }
                    </tr>
                </thead>
                <tbody id="vitalTable">
                    @foreach (var item in ViewBag.vitalSigns)
                    {
                        <tr>
                            <td>@item.IDVitalSign</td>
                            <td>@item.Performed</td>
                            <td>@item.BloodPressure</td>
                            <td>@item.Temperature</td>
                            <td>@item.PulseRate</td>
                            <td>@item.Weight</td>
                            @if (Session["isADG"].ToString() == "Y" || Session["isEDG"].ToString() == "Y" || Session["isAAG"].ToString() == "Y")
                            {
                                <td>
                                    <button class="btn btn-sm btn-warning" onclick="EditVitalSign(@item.IDVitalSign)">Edit</button>
                                    <button class="btn btn-sm btn-danger" onclick="DeleteVitalSign(@item.IDVitalSign)">Delete</button>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    <div class="modal fade" id="modalVitalSigns" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Vital Signs</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                @using (Html.BeginForm("CreateVitalSigns", "Admissions", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.IDAdmission)
                    <form>
                        <div class="modal-body">

                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    @Html.LabelFor(model => model.Performed)
                                    @Html.TextBoxFor(model => model.Performed, new { @type = "datetime-local", @class = "form-control", Required = true })
                                </div>
                                <div class="form-group col-sm-6">
                                    <label><b>Blood Pressure (mmHg/diastolic)</b></label>
                                    @Html.EditorFor(model => model.BloodPressure, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", Required = true } })
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label><b>Temperature (°C)</b></label>
                                    @Html.EditorFor(model => model.Temperature, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", Required = true } })
                                </div>
                                <div class="form-group col-sm-6">
                                    <label><b>Pulse Rate (BPM)</b></label>
                                    @Html.TextBoxFor(model => model.PulseRate, new { @class = "form-control", autocomplete = "off", Required = true })
                                </div>
                                
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label><b>Weight (kg)</b></label>
                                    @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", Required = true } })
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                }
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Modal -->
    <div class="modal fade" id="deleteVitalSignModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this Vital Sign?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                    @using (Html.BeginForm("DeleteVitalSign", "Admissions", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input type="number" class="id" id="idVitalSign" style="display:none;" name="id" value="" />
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editVitalSignModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-url="@Url.Action("EditVitalSignPartial","Admissions")">
    </div>
</div>
