@model Icarus.Models.tblAdmission

@{
    ViewBag.Title = "AdmissionDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AdmissionDetails</h2>

<div>
    <h4>tblAdmission</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDResident)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDResident)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdmissionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdmissionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TerminationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TerminationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TreatmentFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TreatmentFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalBilling)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalBilling)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OverallBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OverallBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StopTFBilling)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StopTFBilling)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDRank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDRank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phase)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
