@model Icarus.Models.tblAdmission

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Create Admission</h2>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    <div class="form">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IDAdmission)
        <div class="form-row">
            <div class="form-group col-sm-4">
                <label><b>Resident</b></label>
                @Html.DropDownListFor(model => model.IDResident, (SelectList)ViewBag.residentList,new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IDResident, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-4">
                <label><b>Admission Date</b></label>
                @Html.TextBoxFor(model => model.AdmissionDate, new { @type="datetime-local", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AdmissionDate, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-4">
                <label><b>Termination Date</b></label>
                @Html.TextBoxFor(model => model.AdmissionDate, new { @type = "datetime-local", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TerminationDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-4">
                <label><b>Treatment Fee</b></label>
                @Html.EditorFor(model => model.TreatmentFee, new { htmlAttributes = new { @type = "number", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TreatmentFee, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-4">
                <label><b>Total Billing Fee</b></label>
                @Html.EditorFor(model => model.TotalBilling, new { htmlAttributes = new { @type = "number", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TotalBilling, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-4">
                <label><b>Total Paid</b></label>
                @Html.EditorFor(model => model.TotalPaid, new { htmlAttributes = new { @type = "number", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TotalPaid, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-row">
            <div class="form-group col-sm-4">
                <label><b>Overall Balance</b></label>
                @Html.EditorFor(model => model.OverallBalance, new { htmlAttributes = new { @type = "number", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OverallBalance, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-4">
                <label><b>Active</b></label>
                @Html.DropDownListFor(model => model.IsActive,
                       (
                           new[] { new SelectListItem { Text = "Y", Value = "Y" },
                           new SelectListItem { Text = "N", Value = "N" }
                       }),
                       new { @class = "form-control active" })
                @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-4">
                <label><b>Stop T.F Billing</b></label>
                @Html.DropDownListFor(model => model.StopTFBilling,
                       (
                           new[] { new SelectListItem { Text = "Y", Value = "Y" },
                           new SelectListItem { Text = "N", Value = "N" }
                       }),
                       new { @class = "form-control active" })
                @Html.ValidationMessageFor(model => model.StopTFBilling, "", new { @class = "text-danger" })
            </div>

        </div>
     
        <div class="form-row">
            <div class="form-group col-sm-4">
                <label><b>Phase</b></label>
                @Html.DropDownListFor(model => model.Phase,
                        (
                            new[] { new SelectListItem { Text = "N", Value = "N" },
                            new SelectListItem { Text = "Senior", Value = "Senior" },
                            new SelectListItem { Text = "Intensive", Value = "Intensive" },
                            new SelectListItem { Text = "Re-Entry", Value = "Re-Entry"},
                            new SelectListItem { Text = "Graduate", Value = "Graduate"},
                            new SelectListItem { Text = "Pullout", Value = "Pullout"},
                        }),
                        new { @class = "form-control phase"}
                    )
                @Html.ValidationMessageFor(model => model.Phase, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group pull-right">
            <div class="row">
                <div class="col mr-4">
                    <a class="btn btn-warning btn-sm" href="javascript:history.back()">Go back</a>
                    <input type="submit" value="Create" class="btn btn-sm btn-primary" />
                </div>
            </div>
        </div>
    </div>
    }
</div>
<script>
    $(document).ready(function () {
        document.title = 'Create Admission';
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
