@model Icarus.Models.vAdmissionBrowse


@{
    ViewBag.Title = "GenerateBilling";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    DateTime date = DateTime.Today;
}

<script>
    function dateFormat(d) {
        //console.log(d);
        return ((d.getMonth() + 1) + "").padStart(2, "0")
        + "/" + (d.getDate() + "").padStart(2, "0")
        + "/" + d.getFullYear();
    }

    var today = new Date();
    console.log(dateFormat(today));

    $(document).ready(function () {
        document.title = "Generate Bill";
        $("h5 #billingdate").text(dateFormat(today));

    });
</script>
<style>
    /*img {
        background-image: url("~/Content/logo.png");
        height: 100px;
        width: 100px;
    }*/
</style>

<div class="mr-5 ml-5" style="margin-top: 5%;">
    <div>
        <img src="../../Content/logo.png" style="height:100px;width:140px;"/>
        <span style="font-size: 24px;margin-top:-5%;">Bridges of Hope Drug and Alcohol Rehabilitation Center - Cebu</span>
    </div>
    <div class="text-center">
        <h4>Billing Statement</h4>
    </div>
    <div style="margin-bottom:5%;width:100%;">
        <div class="row col-xs-12 mr-0 pr-0">
            <div class="col-xs-2 pl-0 ml-0 pr-0 mr-0">
                <h5>ID ADMISSION</h5>
            </div>
            <div class="col-xs-4">
                <h5>@Model.IDAdmission</h5>
            </div>
            <div class="col-xs-3 pl-5 ml-0 mr-0 pr-0" style="text-align: right;">
                <h5>Last Payment Made</h5>
            </div>
            <div class="col-xs-3 mr-0 pr-0" style="text-align: right;">
                @if (ViewBag.PaidDate != null && @ViewBag.TotalPaid != null)
                {
                    <h5>@ViewBag.PaidDate - @ViewBag.TotalPaid</h5>

                }
                else
                {
                    <h5></h5>
                }
            </div>
        </div>
        <div class="row col-xs-12  mr-0 pr-0" >
            <div class="col-xs-2 pl-0 ml-0 pr-0 mr-0">
                <h5>Name</h5>
            </div>
            <div class="col-xs-4">
                <h5>@Model.Resident</h5>
            </div>
            <div class="col-xs-3 pl-5 ml-0 mr-0 pr-0" style="text-align:right;">
                <h5>This Billing Total</h5>
            </div>
            <div class="col-xs-3 pb-0 mr-0 pr-0" style="text-align: right;">
                <h5>@Model.TotalBilling</h5>
            </div>
        </div>
        <div class="row col-xs-12  mr-0 pr-0">
            <div class="col-xs-2 pl-0 ml-0 pr-0 mr-0">
                <h5>Admission Date</h5>
            </div>
            <div class="col-xs-4">
                <h5>@Model.AdmissionDate.ToString("MM/dd/yyyy")</h5>
            </div>
            <div class="col-xs-3 pl-5 ml-0 mr-0 pr-0" style="text-align: right;">
                <h5>Overall Balance</h5>
            </div>
            <div class="col-xs-3 pb-0 mr-0 pr-0" style="text-align: right;">
                <h5>@Model.OverallBalance</h5>
            </div>

        </div>
        <div class="row col-xs-12 mr-0 pr-0">
            <div class="col-xs-2 pl-0 ml-0 pr-0 mr-0">
                <h5>Billing Date</h5>
            </div>
            <div class="col-xs-4">
                <h5><span id="billingdate" class="billingdate">@date.ToString("MM/dd/yyyy")</span></h5>
            </div>
        </div>
    </div>
</div>
<br />
<div style="margin-top:15% !important;" class="mr-5 ml-5">
    <div>
        <h5><b>Billing Details:</b></h5>
    </div>
    <div class="container pl-5 ml-5">
        <div class="row">
            <div class="col-xs-2 text-center">
                <p>Date</p>
            </div>
            <div class="col-xs-2 text-left">
                <p>Description</p>
            </div>
            <div class="col-xs-1 text-center">
                <p>Qty</p>
            </div>
            <div class="col-xs-2 text-right">
                <p>Price</p>
            </div>
            <div class="col-xs-2 text-right">
                <p>Subtotal</p>
            </div>
            <div class="col-xs-3">
                <p>Remarks</p>
            </div>
        </div>
    </div>
    <div>
        <b>A - Treatment Fee</b>
        <div class="container pl-5 ml-5">
            <div class="row">
                @if (ViewBag.billing != null)
                {
                    <div class="col-xs-2 text-center">
                        <h5>@ViewBag.Billing.BillingDate.ToString("MM/dd/yyyy")</h5>
                    </div>
                    <div class="col-xs-2 text-left">
                        <h5>@ViewBag.Billing.Notes</h5>
                    </div>
                    <div class="col-xs-1 text-center">
                        <h5>1.00</h5>
                    </div>
                    <div class="col-xs-2 text-right">
                        <h5>@ViewBag.Billing.Amount.ToString("0.00")</h5>
                    </div>
                    <div class="col-xs-2 text-right">
                        <h5>@ViewBag.Billing.Amount.ToString("0.00")</h5>
                    </div>
                    <div class="col-xs-3">
                        <h5>Month of @ViewBag.Billing.BillingDate.ToString("MMMM")</h5>
                    </div>
                }
                else
                {
                    <div class="col-xs-2 text-center">
                        <h5></h5>
                    </div>
                    <div class="col-xs-2 text-left">
                        <h5></h5>
                    </div>
                    <div class="col-xs-1 text-center">
                        <h5></h5>
                    </div>
                    <div class="col-xs-2 text-right">
                        <h5></h5>
                    </div>
                    <div class="col-xs-2 text-right">
                        <h5></h5>
                    </div>
                    <div class="col-xs-3">
                        <h5></h5>
                    </div>
                }

            </div>
            <hr class="mr-5" style="width:95%;border-top: 2px solid black;margin-bottom:5px;margin-top:5px;float:left;" />
            <div class="row">
                <div class="col-xs-2 text-center">
                </div>
                <div class="col-xs-2 text-left">
                </div>
                <div class="col-xs-1 text-center">
                </div>
                <div class="col-xs-2 text-right">
                </div>
                <div class="col-xs-2 text-right">
                    <h5>Group Total</h5>
                </div>
                <div class="col-xs-3">
                    <h5><b></b></h5>
                </div>
            </div>
        </div>
        <b>B - Assertions</b>
        <div class="container pl-5 ml-5">
            @foreach (var item in ViewBag.Assertions)
            {
                <div class="row">
                    <div class="col-xs-2 text-center">
                        <h5>@item.AssertionDate.ToString("MM/dd/yyyy")</h5>
                    </div>
                    <div class="col-xs-2 text-left">
                        <h5>@item.Notes</h5>
                    </div>
                    <div class="col-xs-1 text-center">
                        <h5>@item.Qty.ToString("0.00")</h5>
                    </div>
                    <div class="col-xs-2 text-right">
                        <h5>@item.Price.ToString("0.00")</h5>
                    </div>
                    <div class="col-xs-2 text-right">
                        <h5>@item.SubTotal.ToString("0.00")</h5>
                    </div>
                </div>
            }
            <hr style="width:95%;float:left;border-top: 2px solid black;margin-bottom:5px;margin-top:5px;" />
            <div class="row">
                <div class="col-xs-2 text-center">
                </div>
                <div class="col-xs-2 text-left">
                </div>
                <div class="col-xs-1 text-center">
                </div>
                <div class="col-xs-2 text-right">
                </div>
                <div class="col-xs-2 text-right">
                    <h5>Group Total</h5>
                </div>
                <div class="col-xs-3">
                    <h5><b>@ViewBag.TotalAssertion.ToString("0.00")</b></h5>
                </div>
            </div>
            <hr style="width:95%;float:left;border-top: 2px solid black;margin-top:0px;margin-bottom:0px;" />
            <div class="row">
                <div class="col-xs-2 text-center">
                </div>
                <div class="col-xs-2 text-left">
                </div>
                <div class="col-xs-1 text-center">
                </div>
                <div class="col-xs-2 text-right">
                </div>
                <div class="col-xs-2 text-right">
                    <h5>This Bill Total</h5>
                </div>
                <div class="col-xs-3">
                    <h5><b>@ViewBag.SumAll.ToString("0.00")</b></h5>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />

    <div class="row col-xs-12">
        <div class="col-xs-6 mr-0 ml-0 pr-0 pl-0" style="width: 150px; margin-left:100px;float:left;">
            <label style="margin-bottom: 0px;">@ViewBag.PreparedBy</label>
            <hr style="border-top: 1px solid black;margin-bottom:2px;margin-top:2px;width:150px;" />
            <label>Prepared By</label>
        </div>
        <div class="col-xs-6 mr-0 ml-0 pr-0 pl-0" style="width: 150px;margin-right:100px;float:right;">
            <label style="margin-bottom: 0px;">Paul Yu</label>
            <hr style="border-top: 1px solid black;margin-bottom:2px;margin-top:2px;width:150px;" />
            <label>Reviewed By</label>
        </div>
    </div>
</div>

