@model IEnumerable<Icarus.Models.vAdmissionBrowse>

@{
    ViewBag.Title = "Admission Browse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .tableheadleft {
        border-top-left-radius: 15px !important;
    }

    .tableheadright {
        border-top-right-radius: 15px !important;
    }
</style>
<script>
    function Delete(id) {
        $("#id").val(id);
        $('#myModal').modal().show();
    }

    function Add() {
        $("#createModal").modal().show();
    }

    $(document).ready(function () {
        document.title = 'Admission Browse';

        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>


<div class="pl-5 pr-5">
    <div class="d-flex mb-2 mt-2 justify-content-between">
        <input class="form-control col-sm-4" id="myInput" type="search" placeholder="Search" aria-label="Search">
        @if (Session["isADG"].ToString() == "Y" || Session["isEDG"].ToString() == "Y" || Session["isAAG"].ToString() == "Y")
        {
            <div>
                <a class="btn" style="background-color:#4E58A2;color:white;">
                    <span>Generate Billing</span>
                </a>
                <a class="btn" style="background-color:#4E58A2;color:white;" onclick="Add()">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    <span>&nbsp;Add Admission</span>
                </a>
            </div>
        }

    </div>
    <hr>
    <div>
        <table class="table table-responsive table-striped table-hover table-borderless" style="overflow-x: inherit;">
            <thead style="background-color: #6C7AE0; color: white;">
                <tr>
                    <th class="tableheadleft" scope="col">
                        @Html.DisplayNameFor(model => model.IDAdmission)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Resident)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Phase)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.rank)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.AdmissionDate)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.TerminationDate)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.TreatmentFee)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.TotalBilling)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.TotalPaid)
                    </th>
                    @if (Session["isADG"].ToString() == "Y")
                    {
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.OverallBalance)
                        </th>
                        <th scope="col" class="tableheadright action">
                            Actions
                        </th>
                    }
                    else
                    {
                        <th scope="col" class="tableheadright">
                            @Html.DisplayNameFor(model => model.OverallBalance)
                        </th>
                    }

                </tr>
            </thead>
            <tbody id="myTable">
                @foreach (var item in Model)
                {
                    var id = item.IDAdmission;
                    <tr>
                        <td scope="row">
                            <span ondblclick="window.location='/Admissions/Details/@item.IDAdmission'" value="@item.IDAdmission" style="color:blue;text-decoration: underline;cursor:pointer;">@item.IDAdmission</span>
                        </td>
                        <td>
                            @Html.ActionLink(
                                linkText: item.Resident.ToString(),
                                actionName: "Details",
                                controllerName: "Residents",
                                routeValues: new { id = item.IDResident },
                                htmlAttributes: null
                            )

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phase)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.rank)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AdmissionDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TerminationDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TreatmentFee)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalBilling)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalPaid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OverallBalance)
                        </td>
                        @if (Session["isADG"].ToString() == "Y")
                        {
                            <td style="display:flex;">
                                <button class="btn btn-danger btn-sm ml-1" type="button" onclick="Delete(@item.IDAdmission)">Delete</button>
                            </td>
                        }

                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        @Html.Partial("_CreatePartial", ViewData["Admissions"])
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this Admission?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                    @using (Html.BeginForm("Delete", "Admissions", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input type="number" class="id" id="id" style="display:none;" name="id" value="" />
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>