@model Icarus.Models.tblResident

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2> Resident Details</h2>

    <div>
        <hr />
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>
                        <b>
                            @Html.DisplayNameFor(model => model.Lastname)
                        </b>
                    </p>
                </div>
                <div class="col">
                    <p>
                        @Html.DisplayFor(model => model.Lastname)
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        <b>
                            @Html.DisplayNameFor(model => model.Firstname)
                        </b>
                    </p>
                </div>
                <div class="col">
                    <p>
                        @Html.DisplayFor(model => model.Firstname)
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        <b>
                            @Html.DisplayNameFor(model => model.Middlename)
                        </b>
                    </p>
                </div>
                <div class="col">
                    <p>
                        @Html.DisplayFor(model => model.Middlename)
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        <b>
                            @Html.DisplayNameFor(model => model.Nickname)
                        </b>
                    </p>
                </div>
                <div class="col">
                    <p>
                        @Html.DisplayFor(model => model.Nickname)
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        <b>
                            @Html.DisplayNameFor(model => model.Birthdate)
                        </b>
                    </p>
                </div>
                <div class="col">
                    <p>
                        @Html.DisplayFor(model => model.Birthdate)
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        <b>
                            @Html.DisplayNameFor(model => model.Age)
                        </b>
                    </p>
                </div>
                <div class="col">
                    <p>
                        @Html.DisplayFor(model => model.Age)
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        <b>
                            @Html.DisplayNameFor(model => model.Sex)
                        </b>
                    </p>
                </div>
                <div class="col">
                    <p>
                        @Html.DisplayFor(model => model.Sex)
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        <b>
                            @Html.DisplayNameFor(model => model.Codep)
                        </b>
                    </p>
                </div>
                <div class="col">
                    <p>
                        @Html.DisplayFor(model => model.Codep)
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        <b>
                            @Html.DisplayNameFor(model => model.Relationship)
                        </b>
                    </p>
                </div>
                <div class="col">
                    <p>
                        @Html.DisplayFor(model => model.Relationship)
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        <b>
                            @Html.DisplayNameFor(model => model.ContactNumber)
                        </b>
                    </p>
                </div>
                <div class="col">
                    <p>
                        @Html.DisplayFor(model => model.ContactNumber)
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        <b>
                            @Html.DisplayNameFor(model => model.EmailAddress)
                        </b>
                    </p>
                </div>
                <div class="col">
                    <p>
                        @Html.DisplayFor(model => model.EmailAddress)
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col mt-2 text-center">
                    <a class="btn btn-sm btn-warning" href="javascript:history.back()">Go back to lists</a>
                    <a class="btn btn-sm btn-primary" href="/Residents/Edit/@Model.IDResident">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        document.title = 'Resident Details';
    });
</script>

