@model Icarus.Models.tblStaff

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-color: #444D8E;
    }

    .cards {
        /*box-shadow: 5px 5px #888888*/
        box-shadow: 0 0 3px 5px #888888;
    }

    .username {
        outline: none;
        border: none;
        background-color: #C9E6F0;
        font-size: 18px;
        width: 80%;
        height: 30px;
        border-bottom: 1px solid gray;
        border-radius: 0;
    }

    /*.username:focus {
        outline: none;
        border: none;
        width: 80%;
        background-color: #C9E6F0;
        height: 30px;
        border-bottom: 1px solid gray;
        border-radius: 0;
    }*/


    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
    }

    .password {
        outline: none;
        border: none;
        width: 80%;
        background-color: #C9E6F0;
        font-size: 18px;
        height: 30px;
        border-bottom: 1px solid gray;
        border-radius: 0;
    }

    /*.password:focus {
        outline: none;
        border: none;
        width: 80%;
        background-color: #C9E6F0;
        height: 30px;
        border-bottom: 1px solid gray;
        border-radius: 0;
    }*/

    input {
        margin: auto;
    }

    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
</style>
<script>
    $(document).ready(function () {
        document.title = 'Login to Icarus';
    });
</script>

<div class="container holder">
    <div class="center">
        <div class="row">
            <div class="col-sm-12 d-flex align-items-center justify-content-center">
                <div class="card cards col-sm-8" style="background-color:#C9E6F0;">
                    <div class="d-flex align-items-center justify-content-center m-5">
                        <img src="~/Content/user-icon.png" style="width:25%;height:25%" />
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <label>@ViewBag.Notification</label>
                    </div>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form col-sm-12 pb-5">
                            <center>
                                <div>
                                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = " input mb-3 username", autocomplete = "off", @type = "text", @placeholder = "Username", Required = true } })
                                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = " input mb-5 password", autocomplete = "off", @type = "password", @placeholder = "Password", Required = true } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    <center><button type="submit" value="Login" class="btn btn-primary" style="width:80%;">Login</button></center>
                                </div>
                            </center>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>