@model Icarus.Models.tblVendor

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Are you sure you want to delete this Vendor?</h2>
    <div>
        <hr />
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>
                        <b>
                            Vendor
                        </b>
                    </p>
                </div>
                <div class="col">
                    <p>
                        @Html.DisplayFor(model => model.Vendor)
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        <b>
                            Contact Person
                        </b>
                    </p>
                </div>
                <div class="col">
                    <p>
                        @Html.DisplayFor(model => model.ContactPerson)
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        <b>
                            Contact Number
                        </b>
                    </p>
                </div>
                <div class="col">
                    <p>
                        @Html.DisplayFor(model => model.ContactNumber)
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        <b>
                            TIN
                        </b>
                    </p>
                </div>
                <div class="col">
                    <p>
                        @Html.DisplayFor(model => model.TIN)
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        <b>
                            Notes
                        </b>
                    </p>
                </div>
                <div class="col">
                    <p>
                        @Html.DisplayFor(model => model.Notes)
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        <b>
                            Active
                        </b>
                    </p>
                </div>
                <div class="col">
                    <p>
                        @Html.DisplayFor(model => model.IsActive)
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col  mt-2 text-center">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-actions">
                            <a class="btn btn-sm btn-warning" href="/Vendors">Go back to lists</a>
                            <input class="btn btn-sm btn-danger" type="submit" value="Delete" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        document.title = 'Delete Vendor';
    });
</script>
